@import url('./../css/fonts.css');
*{
	padding: 0;
	margin: 0;
	font-family: "roboto-regular";
	font-size: 14px;
	list-style-type: none;
	text-decoration: none;
	outline: none;
	font-style: normal;
	font-weight: normal;
}
.head-left{	
	position: relative;
	margin-bottom: 40px;
}
.head-left:before{
	content: "";
    position: absolute;
    width: 82px;
    height: 19px;
    bottom: -26px;
    left: 0;   
    background-size: 327px;
    background-repeat: no-repeat;
    background-position: -182px -3px;
}
.head-left-h{
	font-family: forum;
	font-size: 40px;
	line-height: 44px;
	color: #424443;
	display: inline-block;
}
.head-left-h.min-font{
	font-size: 30px;
	line-height: 33px;
}
.head-center{
	text-align: center;
	position: relative;
	margin-bottom: 40px;
}
.head-center-h{
	font-family: forum;
	font-size: 40px;
	line-height: 44px;
	color: #424443;
	display: inline-block;	
}
.head-center:before{
	content: "";
    position: absolute;
    width: 82px;
    height: 19px;
    bottom: -26px;
    left: calc(46.5% - 82px / 2);    
    background-size: 327px;
    background-repeat: no-repeat;
    background-position: -177px -30px;
}
.head-center:after{
	content: "";
    position: absolute;
    width: 82px;
    height: 19px;
    bottom: -26px;
    right: calc(46.5% - 82px / 2);    
    background-size: 327px;
    background-repeat: no-repeat;
    background-position: -182px -3px;
}
.container{
	width: 1170px;
	margin: 0 auto;
}
header{
	padding: 19px 0;
	border-bottom: 1px solid #dedfde;
}
.header-content{
	display: flex;
	justify-content: space-between;
	align-self: center;
}
.header-logo{
	width: 20.8%;
}
.header-logo-link-text{
	display: block;
	color: #A5A8A6;
	text-align: center;
	margin-bottom: 4px;
	letter-spacing: 1px;
}
.header-logo-link-img{
	width: 100%;
}
.header-logo-link-city-wrap{
	position: relative;
}
.header-logo-link-city{
	border: 0;
	color: #A5A8A6;
	display: block;
	width: 100%;
	text-align: center;
	margin-top: 4px;
	letter-spacing: 1px;
	position: relative;
}
.header-logo-link-city-icon{
	width: 14px;
    height: 7px;
    position: absolute;
    top: 5px;
    right: 0;    
    background-size: 349px;
    background-repeat: no-repeat;
    background-position: -27px -5px;
}
.header-auth{
	display: flex;
	align-items: center;
}
.header-auth-link{
	border: 1px solid #ABC2B0;
	border-radius: 30px;
	padding: 9px 28px;
	font-size: 16px;
	transition: all 0.2s ease-out;
}
.header-auth-link.input{
	margin-right: 10px;
	color: #ABC2B0;
}
.header-auth-link.input:hover{
	background: #ABC2B0;
	color: #fff;
	transition: all 0.2s ease-out;
}
.header-auth-link.reg{
	color: #fff;
	background: #ABC2B0;
}
.header-auth-link.reg:hover{
	transition: all 0.2s ease-out;
	color: #ABC2B0;
	background: #fff;
}
.nav-list{
	display: flex;
	justify-content: space-between;
}
.nav-list-item{
	display: block;
	padding: 21px 0;
	cursor: pointer;
}
.nav-list-item-link:before{
	content: "";
	position: absolute;
	width: 100%;
	height: 3px;
	bottom: 0;
	z-index: -1;
	background: #ABC2B0;
	opacity: 0;
	transition: all 0.2s ease;
}
.nav-list-item:hover > .nav-list-item-link:before{
	transition: all 0.2s ease;
	opacity: 1;
}
.nav-list-item.active > .nav-list-item-link:before{
	transition: all 0.2s ease;
	opacity: 1;
}
.nav-list-item-link{
	color: #5B5F5C;
	font-size: 18px;
	position: relative;
	transition: all 0.2s ease;
}
.nav-list-item-link.submenu{
	position: relative;
}
.nav-list-item-link.submenu-icon:after{
	content: "";
	position: absolute;
	width: 14px;
    height: 7px;
	top: 8px;
    right: -20px;	
    background-size: 349px;
    background-repeat: no-repeat;
    background-position: -27px -5px;
}
.nav-list-item-submenu{
	opacity: 0;
	max-height: 0px;
	transition: all 0.2s ease;
	position: absolute;
	overflow: hidden;
	background: #fff;	
	padding: 0px;
	border-radius: 0px 0px 20px 20px;
	margin-top: 7px;
	z-index: 8;
}
.nav-list-item.submenu:hover > .nav-list-item-submenu{
	opacity: 1;
	transition: all 0.2s ease;
	max-height: 300px;
	padding: 15px;
}
.nav-list-item-submenu-list-item{
	border-bottom: 1px solid #efefef;
}
.nav-list-item-submenu-list-item:last-child{
	border-bottom: 0px solid #efefef;
}
.nav-list-item-submenu-list-item-link{
	display: block;
	color: #B0B0B0;
	padding: 8px 20px 8px 12px;
	font-size: 15px;
	transition: all 0.2s ease-out;
}
.nav-list-item-submenu-list-item-link:hover{
	color: #5B5F5C;
	background: #FAF6F4;
	transition: all 0.2s ease-out;
}

#offer{
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
}
#offer:before{
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
}
.offer-content{
	padding: 111px 0 209px;
	text-align: center;
	position: relative;
	z-index: 3;
}
.offer-h{
	font-family: "forum";
	font-size: 43px;
	line-height: 32px; 
	text-align: center;
	color: #fff;
	margin-bottom: 20px;
}
.offer-select{
	border: 1px solid #e7e7e7;
    box-sizing: border-box;
    border-radius: 30px;
    color: #b0b0b0;
    line-height: 24px;
    padding: 9px 76px 9px 10px;
    cursor: pointer;
    margin-bottom: 18px;
}
.offer-waves{
	position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 380px;
    background-position: center bottom;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 2;
}

#best{
	padding: 54px 0;
}
.best-content{
	padding-top: 8px;
}
.best-form-search{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.best-form-search-select,
.best-form-search-input{
	border: 1px solid #e7e7e7;
    box-sizing: border-box;
    border-radius: 30px;
    color: #b0b0b0;
    line-height: 24px;
    padding: 14px 16px;
    cursor: pointer;  
    width: 21.9%;  
}
.best-form-search-input{

}
.best-form-search-submit{
	background: #ABC2B0;
	border-radius: 30px;
	border: 0;
	padding: 16px 33px;
	color: #fff;
	cursor: pointer;
	transition: all 0.2s ease-out;
}
.best-form-search-submit:hover{
	background: #96b49d;
	transition: all 0.2s ease-out;
}

#socials{

}
.socials-container{
	padding: 31px 0;
	border-top: 2px solid #e6e6e6;
	border-bottom: 2px solid #e6e6e6;
}
.socials-content{
	display: flex;
	justify-content: center;
}
.socials-link{
	background: #F8F3F0;
	border-radius: 50%;
	padding: 15px;
	margin-right: 8px;
	transition: all 0.2s ease;
}
.socials-link:hover{
	background: #e8e3e1;
	transition: all 0.2s ease;
}
.socials-link-icon{
	display: block;
	width: 33px;
	height: 33px;	
	background-repeat: no-repeat;
	background-size: 307px;
}
.socials-link-icon.fb{
	background-position: 6px 0px;
}
.socials-link-icon.ig{
	background-position: -38px -1px;
}
.socials-link-icon.p{
	background-position: -68px 0px;
}
.socials-link-icon.vk{
	background-position: -105px 4px;
}

footer{
	padding: 59px 0;
}
.footer-content{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.footer-left{
	width: 21.4%;
}
.footer-left-logo{

}
.footer-left-logo-link{

}
.footer-left-logo-link-text{
	color: #A5A8A6;
	text-align: center;
	display: block;
	width: 100%;
	margin-bottom: 3px;
}
.footer-left-logo-link-img{
	width: 100%;
}
.footer-left-logo-link-city-wrap{
	color: #A5A8A6;
	text-align: center;
}
.footer-left-info{
	font-size: 15px;
	line-height: 24px;
	color: #B0B0B0;
	display: block;
	margin-top: 62px;
}
.footer-right{
	width: 70%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.footer-right-item{
	width: 23%;
}
.footer-right-item-head{
	font-size: 20px;
	line-height: 25px;
	font-family: "forum";
	color: #424443;
	margin-bottom: 10px;
}
.footer-right-item-link{
	display: block;
	color: #B0B0B0;
	margin-bottom: 5px;
	font-size: 15px;
	line-height: 24px;
	transition: all 0.2s ease;
}
.footer-right-item-link:hover{
	transition: all 0.2s ease;
	color: #000;
}

@media (max-width: 1190px) and (min-width:900px){
	.head-left{
		margin-bottom: 40px;
	}
	.head-left:before{		
	    width: 82px;
	    height: 19px;
	    bottom: -26px;
	    background-size: 327px;
	    background-position: -182px -3px;
	}
	.head-left-h{		
		font-size: 40px;
		line-height: 44px;
	}
	.head-left-h.min-font{
		font-size: 30px;
		line-height: 33px;
	}
	.head-center{
		margin-bottom: 40px;
	}
	.head-center-h{
		font-size: 40px;
		line-height: 44px;
	}
	.head-center:before{		
	    width: 82px;
	    height: 19px;
	    bottom: -26px;
	    left: calc(46.5% - 82px / 2);
	    background-size: 327px;
	    background-position: -177px -30px;
	}
	.head-center:after{		
	    width: 82px;
	    height: 19px;
	    bottom: -26px;
	    right: calc(46.5% - 82px / 2);
	    background-size: 327px;
	    background-position: -182px -3px;
	}
	.container{
		width: 900px;
	}
	header{
		padding: 19px 0;
	}	
	.header-logo{
		width: 24.8%;
	}
	.header-logo-link-text{
		margin-bottom: 4px;
		letter-spacing: 1px;
	}
	.header-logo-link-img{
		width: 100%;
	}	
	.header-logo-link-city{
		margin-top: 4px;
		letter-spacing: 1px;
	}
	.header-logo-link-city-icon{
		width: 14px;
	    height: 7px;
	    top: 5px;
	    background-size: 349px;
	    background-position: -27px -5px;
	}	
	.header-auth-link{
		border-radius: 30px;
		padding: 9px 28px;
		font-size: 16px;
	}
	.header-auth-link.input{
		margin-right: 10px;
	}	
	.nav-list-item{
		padding: 21px 0;
	}
	.nav-list-item-link:before{
		width: 100%;
		height: 3px;
	}	
	.nav-list-item-link{
		font-size: 18px;
	}	
	.nav-list-item-link.submenu-icon:after{		
		width: 14px;
	    height: 7px;
		top: 8px;
	    right: -20px;
	    background-size: 349px;
	    background-position: -27px -5px;
	}
	.nav-list-item-submenu{			
		border-radius: 0px 0px 20px 20px;
		margin-top: 7px;
		z-index: 8;
	}
	.nav-list-item.submenu:hover > .nav-list-item-submenu{		
		max-height: 300px;
		padding: 15px;
	}	
	.nav-list-item-submenu-list-item-link{
		padding: 8px 20px 8px 12px;
		font-size: 15px;
	}	
	
	.socials-container{
		padding: 31px 0;
		border-top: 2px solid #e6e6e6;
		border-bottom: 2px solid #e6e6e6;
	}
	.socials-link{		
		border-radius: 50%;
		padding: 15px;
		margin-right: 8px;
	}
	.socials-link-icon{
		width: 33px;
		height: 33px;
		background-size: 307px;
	}
	.socials-link-icon.fb{
		background-position: 6px 0px;
	}
	.socials-link-icon.ig{
		background-position: -38px -1px;
	}
	.socials-link-icon.p{
		background-position: -68px 0px;
	}
	.socials-link-icon.vk{
		background-position: -105px 4px;
	}
	footer{
		padding: 59px 0;
	}
	.footer-left{
		width: 26.4%;
	}
	.footer-left-logo-link-text{
		margin-bottom: 3px;
	}
	.footer-left-info{
		font-size: 15px;
		line-height: 24px;
		margin-top: 62px;
	}
	.footer-right{
		width: 70%;
	}
	.footer-right-item{
		width: 23%;
	}
	.footer-right-item-head{
		font-size: 20px;
		line-height: 25px;
		margin-bottom: 10px;
	}
	.footer-right-item-link{
		margin-bottom: 5px;
		font-size: 15px;
		line-height: 24px;
	}
}
@media (max-width: 920px) and (min-width:640px){	

	.head-left{
		text-align: center;
		margin-bottom: 40px;
	}
	.head-left:before{		
	    content: "";
	    position: absolute;
	    width: 82px;
	    height: 19px;
	    bottom: -26px;
	    left: calc(46.5% - 82px / 2);    
	    background-size: 327px;
	    background-repeat: no-repeat;
	    background-position: -177px -30px;
	}
	.head-left:after{
		content: "";
	    position: absolute;
	    width: 82px;
	    height: 19px;
	    bottom: -26px;
	    right: calc(46.5% - 82px / 2);    
	    background-size: 327px;
	    background-repeat: no-repeat;
	    background-position: -182px -3px;
	}
	.head-left-h{		
		font-size: 40px;
		line-height: 44px;
		display: inline-block;	
	}
	.head-left-h.min-font{
		font-size: 30px;
		line-height: 33px;
	}
	.head-center{
		margin-bottom: 40px;
	}
	.head-center-h{
		font-size: 40px;
		line-height: 44px;
	}
	.head-center:before{		
	    width: 82px;
	    height: 19px;
	    bottom: -26px;
	    left: calc(46.5% - 82px / 2);
	    background-size: 327px;
	    background-position: -177px -30px;
	}
	.head-center:after{		
	    width: 82px;
	    height: 19px;
	    bottom: -26px;
	    right: calc(46.5% - 82px / 2);
	    background-size: 327px;
	    background-position: -182px -3px;
	}
	.container{
		width: 640px;
	}
	header{
		padding: 19px 0;
	}	
	.header-logo{
		width: 36.8%;
	}
	.header-logo-link-text{
		margin-bottom: 4px;
		letter-spacing: 1px;
	}
	.header-logo-link-img{
		width: 100%;
	}	
	.header-logo-link-city{
		margin-top: 4px;
		letter-spacing: 1px;
	}
	.header-logo-link-city-icon{
		width: 14px;
	    height: 7px;
	    top: 5px;
	    background-size: 349px;
	    background-position: -27px -5px;
	}	
	.header-auth-link{
		border-radius: 30px;
    	padding: 8px 28px;
    	font-size: 14px;
	}
	.header-auth-link.input{
		margin-right: 10px;
	}	
	.nav-list-item{
		padding: 13px 0;
	}
	.nav-list-item-link:before{
		width: 100%;
		height: 3px;
	}	
	.nav-list-item-link{
		font-size: 14px;
	}	
	.nav-list-item-link.submenu-icon:after{		
		width: 14px;
	    height: 7px;
	    top: 6px;
	    right: -16px;
	    background-size: 349px;
	    background-position: -27px -5px;
	}
	.nav-list-item-submenu{			
		border-radius: 0px 0px 20px 20px;
		margin-top: 7px;
		z-index: 8;
	}
	.nav-list-item.submenu:hover > .nav-list-item-submenu{		
		max-height: 300px;
		padding: 15px;
	}	
	.nav-list-item-submenu-list-item-link{
		padding: 8px 20px 8px 12px;
		font-size: 13px;
	}	
	
	.socials-container{
		padding: 31px 0;
		border-top: 2px solid #e6e6e6;
		border-bottom: 2px solid #e6e6e6;
	}
	.socials-link{		
		border-radius: 50%;
		padding: 15px;
		margin-right: 8px;
	}
	.socials-link-icon{
		width: 33px;
		height: 33px;
		background-size: 307px;
	}
	.socials-link-icon.fb{
		background-position: 6px 0px;
	}
	.socials-link-icon.ig{
		background-position: -38px -1px;
	}
	.socials-link-icon.p{
		background-position: -68px 0px;
	}
	.socials-link-icon.vk{
		background-position: -105px 4px;
	}
	footer{
		padding: 59px 0;
	}
	.footer-left{
		width: 34.4%;
	}
	.footer-left-logo-link-text{
		margin-bottom: 3px;
	}
	.footer-left-info{
		font-size: 15px;
		line-height: 24px;
		margin-top: 62px;
	}
	.footer-right{
		width: 59%;
	}
	.footer-right-item{
		width: 47%;
	}
	.footer-right-item-head{
		font-size: 20px;
		line-height: 25px;
		margin-bottom: 10px;
	}
	.footer-right-item-link{
		margin-bottom: 5px;
		font-size: 15px;
		line-height: 24px;
	}
}
@media (max-width: 660px) and (min-width:490px){
	*{
		font-size: 12px;
	}
	.head-left{
		text-align: center;
		margin-bottom: 40px;
	}
	.head-left:before{		
	    content: "";
	    position: absolute;
	    width: 82px;
	    height: 19px;
	    bottom: -26px;
	    left: calc(46.5% - 82px / 2);    
	    background-size: 327px;
	    background-repeat: no-repeat;
	    background-position: -177px -30px;
	}
	.head-left:after{
		content: "";
	    position: absolute;
	    width: 82px;
	    height: 19px;
	    bottom: -26px;
	    right: calc(46.5% - 82px / 2);    
	    background-size: 327px;
	    background-repeat: no-repeat;
	    background-position: -182px -3px;
	}
	.head-left-h{		
		font-size: 30px;
    	line-height: 34px;
	}
	.head-left-h.min-font{
		font-size: 30px;
		line-height: 33px;
	}
	.head-center{
		margin-bottom: 40px;
	}
	.head-center-h{
		font-size: 30px;
    	line-height: 34px;
	}
	.head-center:before{		
	    width: 82px;
	    height: 19px;
	    bottom: -26px;
	    left: calc(46.5% - 82px / 2);
	    background-size: 327px;
	    background-position: -177px -30px;
	}
	.head-center:after{		
	    width: 82px;
	    height: 19px;
	    bottom: -26px;
	    right: calc(46.5% - 82px / 2);
	    background-size: 327px;
	    background-position: -182px -3px;
	}
	.container{
		width: 490px;
	}
	header{
		padding: 19px 0;
	}	
	.header-logo{
		width: 40.8%;
	}
	.header-logo-link-text{
		margin-bottom: 4px;
		letter-spacing: 1px;
	}
	.header-logo-link-img{
		width: 100%;
	}	
	.header-logo-link-city{
		margin-top: 4px;
		letter-spacing: 1px;
	}
	.header-logo-link-city-icon{
		width: 14px;
	    height: 7px;
	    top: 5px;
	    background-size: 349px;
	    background-position: -27px -5px;
	}	
	.header-auth-link{
		border-radius: 30px;
    	padding: 8px 28px;
    	font-size: 14px;
	}
	.header-auth-link.input{
		margin-right: 10px;
	}
	.m-menu{
		width: 25px;
		height: 25px;
		margin: 7px 0;		
		background-size: 354px;
    	background-repeat: no-repeat;
    	background-position: -5px -37px;
    	position: relative;
    	cursor: pointer;
	}
	.m-menu:after{
		content: "МЕНЮ";
    	position: absolute;
    	top: 2px;
    	right: -58px;
   	 	font-size: 18px;
   	 	cursor: pointer;
	}
	.nav-list{
		display: none;		
	}
	.nav-list-item{
		padding: 13px 0;		
	}
	.nav-list-item-link:before{
		width: 100%;
		height: 3px;
	}	
	.nav-list-item-link{
		font-size: 14px;
	}	
	.nav-list-item-link.submenu-icon:after{		
		width: 14px;
	    height: 7px;
	    top: 6px;
	    right: -16px;
	    background-size: 349px;
	    background-position: -27px -5px;
	}
	.nav-list-item-submenu{			
		border-radius: 0px 0px 20px 20px;
		margin-top: 7px;
		z-index: 8;
	}
	.nav-list-item.submenu:hover > .nav-list-item-submenu{		
		max-height: 300px;
		padding: 0px;
		position: static;
	}	
	.nav-list-item-submenu-list-item-link{
		padding: 8px 20px 8px 12px;
		font-size: 13px;
	}	
	
	.socials-container{
		padding: 31px 0;
		border-top: 2px solid #e6e6e6;
		border-bottom: 2px solid #e6e6e6;
	}
	.socials-link{		
		border-radius: 50%;
		padding: 15px;
		margin-right: 8px;
	}
	.socials-link-icon{
		width: 33px;
		height: 33px;
		background-size: 307px;
	}
	.socials-link-icon.fb{
		background-position: 6px 0px;
	}
	.socials-link-icon.ig{
		background-position: -38px -1px;
	}
	.socials-link-icon.p{
		background-position: -68px 0px;
	}
	.socials-link-icon.vk{
		background-position: -105px 4px;
	}
	footer{
		padding: 59px 0;
	}
	.footer-left{
		width: 100%;
	}
	.footer-left-logo-link-text{
		margin-bottom: 3px;
	}
	.footer-left-info{
		font-size: 15px;
		line-height: 24px;
		margin-top: 62px;
	}
	.footer-right{
		width: 100%;
		margin-top: 20px;
	}
	.footer-right-item{
		width: 47%;
	}
	.footer-right-item-head{
		font-size: 20px;
		line-height: 25px;
		margin-bottom: 10px;
	}
	.footer-right-item-link{
		margin-bottom: 5px;
		font-size: 15px;
		line-height: 24px;
	}
}

@media (max-width: 510px){
	*{
		font-size: 12px;
	}
	
	.head-left{
		text-align: center;
		margin-bottom: 40px;
	}
	.head-left:before{		
	    content: "";
	    position: absolute;
	    width: 82px;
	    height: 19px;
	    bottom: -26px;
	    left: calc(46.5% - 82px / 2);    
	    background-size: 327px;
	    background-repeat: no-repeat;
	    background-position: -177px -30px;
	}
	.head-left:after{
		content: "";
	    position: absolute;
	    width: 82px;
	    height: 19px;
	    bottom: -26px;
	    right: calc(46.5% - 82px / 2);    
	    background-size: 327px;
	    background-repeat: no-repeat;
	    background-position: -182px -3px;
	}
	.head-left-h{		
		font-size: 30px;
    	line-height: 34px;
	}
	.head-left-h.min-font{
		font-size: 30px;
		line-height: 33px;
	}
	.head-center{
		margin-bottom: 40px;
	}
	.head-center-h{
		font-size: 30px;
    	line-height: 34px;
	}
	.head-center:before{		
	    width: 82px;
	    height: 19px;
	    bottom: -26px;
	    left: calc(46.5% - 82px / 2);
	    background-size: 327px;
	    background-position: -177px -30px;
	}
	.head-center:after{		
	    width: 82px;
	    height: 19px;
	    bottom: -26px;
	    right: calc(46.5% - 82px / 2);
	    background-size: 327px;
	    background-position: -182px -3px;
	}
	.container{
		width: 98%;
	}
	header{
		padding: 19px 0;
	}	
	.header-logo{
		width: 100%;
		margin-bottom: 10px;
	}
	.header-auth{
		width: 100%;
    	justify-content: center;
	}
	.header-logo-link-text{
		margin-bottom: 4px;
		letter-spacing: 1px;
	}
	.header-logo-link-img{
		width: 56%;
    	margin: 0 auto;
    	display: block;
	}	
	.header-logo-link-city{
		margin-top: 4px;
		letter-spacing: 1px;
	}
	.header-logo-link-city-icon{
		width: 14px;
	    height: 7px;
	    top: 5px;
	    background-size: 349px;
	    background-position: -27px -5px;
	}	
	.header-auth-link{
		border-radius: 30px;
    	padding: 8px 28px;
    	font-size: 14px;
	}
	.header-auth-link.input{
		margin-right: 10px;
	}
	.m-menu{
		width: 25px;
		height: 25px;
		margin: 7px 0;		
		background-size: 354px;
    	background-repeat: no-repeat;
    	background-position: -5px -37px;
    	position: relative;
    	cursor: pointer;
	}
	.m-menu:after{
		content: "МЕНЮ";
    	position: absolute;
    	top: 2px;
    	right: -58px;
   	 	font-size: 18px;
   	 	cursor: pointer;
	}
	.nav-list{
		display: none;	
		margin-left: 30px;	
		padding-bottom: 15px;
	}
	.nav-list-item{
		padding: 13px 0;		
	}
	.nav-list-item-link:before{
		width: 100%;
		height: 3px;
	}	
	.nav-list-item-link{
		font-size: 14px;
	}	
	.nav-list-item-link.submenu-icon:after{		
		width: 14px;
	    height: 7px;
	    top: 6px;
	    right: -16px;
	    background-size: 349px;
	    background-position: -27px -5px;
	}
	.nav-list-item-submenu{			
		border-radius: 0px 0px 20px 20px;
		margin-top: 7px;
		z-index: 8;
	}
	.nav-list-item.submenu:hover > .nav-list-item-submenu{		
		max-height: 300px;
		padding: 0px;
		position: static;
	}	
	.nav-list-item-submenu-list-item-link{
		padding: 8px 20px 8px 12px;
		font-size: 13px;
	}	
	
	.socials-container{
		padding: 31px 0;
		border-top: 2px solid #e6e6e6;
		border-bottom: 2px solid #e6e6e6;
	}
	.socials-link{		
		border-radius: 50%;
		padding: 15px;
		margin-right: 8px;
	}
	.socials-link-icon{
		width: 33px;
		height: 33px;
		background-size: 307px;
	}
	.socials-link-icon.fb{
		background-position: 6px 0px;
	}
	.socials-link-icon.ig{
		background-position: -38px -1px;
	}
	.socials-link-icon.p{
		background-position: -68px 0px;
	}
	.socials-link-icon.vk{
		background-position: -105px 4px;
	}
	footer{
		padding: 59px 0;
	}
	.footer-left{
		width: 100%;
	}
	.footer-left-logo-link-text{
		margin-bottom: 3px;
	}
	.footer-left-info{
		font-size: 15px;
		line-height: 24px;
		margin-top: 62px;
	}
	.footer-right{
		width: 100%;
		margin-top: 20px;
	}
	.footer-right-item{
		width: 47%;
	}
	.footer-right-item-head{
		font-size: 20px;
		line-height: 25px;
		margin-bottom: 10px;
	}
	.footer-right-item-link{
		margin-bottom: 5px;
		font-size: 15px;
		line-height: 24px;
	}
}


