@import url('./../css/fonts.css');
*{
	padding: 0;
	margin: 0;
	font-family: "roboto-regular";
	font-size: 14px;
	list-style-type: none;
	text-decoration: none;
	outline: none;
	font-style: normal;
	font-weight: normal;
}
.head-left{	
	position: relative;
	margin-bottom: 40px;
}
.head-left-h{
	font-family: forum;
	font-size: 40px;
	line-height: 44px;
	color: #424443;
	display: inline-block;
}
.head-left-h.min-font{
	font-size: 30px;
	line-height: 33px;
}
.head-center{
	text-align: center;
	position: relative;
	margin-bottom: 40px;
}
.head-center-h{
	font-family: forum;
	font-size: 40px;
	line-height: 44px;
	color: #424443;
	display: inline-block;	
}
.container{
	width: 1170px;
	margin: 0 auto;
}
header{
	padding: 19px 0;
	border-bottom: 1px solid #dedfde;
}
.header-content{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header-logo{
	width: 20.8%;
}
.header-logo-link-text{
	display: block;
	color: #A5A8A6;
	text-align: center;
	margin-bottom: 4px;
	letter-spacing: 1px;
}
.header-logo-link-img{
	width: 100%;
}
.header-logo-link-city-wrap{
	position: relative;
}
.header-logo-link-city{
	border: 0;
	color: #A5A8A6;
	display: block;
	width: 100%;
	text-align: center;
	margin-top: 4px;
	letter-spacing: 1px;
	position: relative;
	border: 1px solid #E7E7E7;
	border-radius: 30px;
	padding: 3px 0;
}
.header-logo-link-city-icon{
	width: 14px;
    height: 7px;
    position: absolute;
    top: 9px;
    right: 6px;
   	cursor: pointer;    
    background-size: 349px;
    background-repeat: no-repeat;
    background-position: -27px -5px;
}
.header-search{
	align-self: center;
	width: 30%;
}
.header-search-input{
	border: 1px solid #E7E7E7;
    box-sizing: border-box;
    border-radius: 30px;
    color: #B0B0B0;
    line-height: 24px;
    padding: 9px 44px 9px 25px;
    width: 100%;
    cursor: pointer; 
    background-image: url("../img/search.webp"); 
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 95% center;   
    font-style: italic;   
}
.header-auth{
	display: flex;
	align-items: center;
}
.header-auth-link{
	border: 1px solid #ABC2B0;
	border-radius: 30px;
	padding: 9px 28px;
	font-size: 16px;
	transition: all 0.2s ease-out;
}
.header-auth-link.input{
	margin-right: 10px;
	color: #ABC2B0;
}
.header-auth-link.input:hover{
	background: #ABC2B0;
	color: #fff;
	transition: all 0.2s ease-out;
}
.header-auth-link.reg{
	color: #fff;
	background: #ABC2B0;
}
.header-auth-link.reg:hover{
	transition: all 0.2s ease-out;
	color: #ABC2B0;
	background: #fff;
}
.nav-list{
	display: flex;
	justify-content: space-between;
}
.nav-list-item{
	display: block;
	padding: 21px 0;
	cursor: pointer;
}
.nav-list-item-link:before{
	content: "";
	position: absolute;
	width: 100%;
	height: 3px;
	bottom: 0;
	z-index: -1;
	background: #ABC2B0;
	opacity: 0;
	transition: all 0.2s ease;
}
.nav-list-item:hover > .nav-list-item-link:before{
	transition: all 0.2s ease;
	opacity: 1;
}
.nav-list-item.active > .nav-list-item-link:before{
	transition: all 0.2s ease;
	opacity: 1;
}
.nav-list-item-link{
	color: #5B5F5C;
	font-size: 18px;
	position: relative;
	transition: all 0.2s ease;
}
.nav-list-item-link.submenu{
	position: relative;
}
.nav-list-item-link.submenu-icon:after{
	content: "";
	position: absolute;
	width: 14px;
    height: 7px;
	top: 8px;
    right: -20px;	
    background-size: 349px;
    background-repeat: no-repeat;
    background-position: -27px -5px;
}
.nav-list-item-submenu{
	opacity: 0;
	max-height: 0px;
	transition: all 0.2s ease;
	position: absolute;
	overflow: hidden;
	background: #fff;	
	padding: 0px;
	border-radius: 0px 0px 20px 20px;
	margin-top: 7px;
	z-index: 8;
}
.nav-list-item.submenu:hover > .nav-list-item-submenu{
	opacity: 1;
	transition: all 0.2s ease;
	max-height: 300px;
	padding: 15px;
}
.nav-list-item-submenu-list-item{
	border-bottom: 1px solid #efefef;
}
.nav-list-item-submenu-list-item:last-child{
	border-bottom: 0px solid #efefef;
}
.nav-list-item-submenu-list-item-link{
	display: block;
	color: #B0B0B0;
	padding: 8px 20px 8px 12px;
	font-size: 15px;
	transition: all 0.2s ease-out;
}
.nav-list-item-submenu-list-item-link:hover{
	color: #5B5F5C;
	background: #FAF6F4;
	transition: all 0.2s ease-out;
}

#bread-crumbs{
	background: #8F7A99;
	padding: 40px 0;
	color: #fff;
}
.bread-crumbs-link{
	color: #fff;
	font-size: 18px;	
}

.bread-crumbs-container{
	position: relative;
}

#card-menu{
	margin-bottom: 60px;
}
#card-menu.services{
	margin-top: 46px;
	margin-bottom: 30px;
}
.card-menu-content{
	display: flex;
	justify-content: space-between;
	background: #FAF6F4;
	border-radius: 30px;
	padding: 21px 48px;
	box-sizing: border-box;
}
.card-menu-item{
	color: #5B5F5C;
}
.card-menu-item:hover{
	font-weight: bold;	
}

#card-all{
	overflow: hidden;
}
.card-all-content{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.card-all-left{
	width: 74.2%;
}

.card-all-right-item-submit-link{
	border: 1px solid #ABC2B0;
	color: #000;
	border-radius: 30px;
	display: block;
	padding: 15px 0;
	text-align: center;
	transition: all 0.2s ease-out;
	font-size: 16px;
}

.card-all-right-item-submit-link:hover{
	box-shadow: inset 0px 0px 20px rgba(171,194,176,0.4);
	transition: all 0.2s ease-out;
}

.card-all-right{
	width: 269px;
	position: relative;
}
.card-all-right-item{
	background: #FAF6F4;
	border-radius: 30px;
	padding: 20px;
	box-sizing: border-box;	
	text-align: center;
	margin-bottom: 20px;
	width: 269px;
	/*margin-right: 19px;*/
}
.card-all-right-item.fixed{
	position: fixed;
	top: 0;
}
.card-all-right-item.absolute{
	position: absolute;
	bottom: 0;
}
.card-all-right-item-avatar{
	position: relative;
	margin-bottom: 20px;
}
.card-all-right-item-avatar-img{
	width: 100%;
	display: block;
	border-radius: 30px;
}
.card-all-right-item-avatar-pro{
	position: absolute;
	padding: 7px 15px;
	border-radius: 30px;
	background: #fff;	
	text-transform: uppercase;
	color: #8F7A99;
	top: 10px;
    right: 10px;
}
.card-all-right-item-favorite{
	background: #8F7A99;
	border-radius: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	font-size: 16px;
	padding: 11px 0;
	margin-bottom: 16px;
	transition: all 0.2s ease-out;
}
.card-all-right-item-favorite:hover{
	background: #7b5c8a;
    transition: all 0.2s ease-out;
}
.card-all-right-item-favorite-icon{
	width: 18px;
	height: 18px;
	display: block;
	background-image: url("../img/icons.webp");
	background-size: 300px;
	background-repeat: no-repeat;
	background-position: -134px -240px;
	margin-right: 7px;
}
.card-all-right-item-favorite-icon.active{
	background-position: -156px -240px;
}
.card-all-right-item-name{
	font-size: 25px;
	line-height: 28px;
	font-family: "Forum";
	color: #424443;
	text-align: center;
	margin-bottom: 12px;
}
.card-all-right-item-text{
	font-size: 16px;
	color: #B0B0B0;
	text-align: center;
	margin-bottom: 19px;
}
.card-all-right-item-phone{
	font-size: 18px;
	font-family: "Forum";
	color: #424443;
	display: inline-block;
	position: relative;
	margin-bottom: 13px;
}
.card-all-right-item-phone:before{
	content: "";
    position: absolute;
    width: 17px;
    height: 17px;
    top: 1px;
    left: -19px;
    background-image: url(../img/icons.webp);
    background-repeat: no-repeat;
    background-size: 272px;
    background-position: -80px -153px;
}
.card-all-right-item-socials{
	display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.card-all-right-item-socials-icon{
	display: block;
    width: 43px;
    height: 43px;
    background: #ABC2B0;
    border-radius: 50%;
    font-size: 0;
    transition: all .2s ease-out;
    position: relative;
    margin-right: 7px;
}
.card-all-right-item-socials-icon:hover{
	background: #96b49d;
    transition: all .2s ease-out;
}
.card-all-right-item-socials-icon.inst:before{
	content: "";
    position: absolute;
    width: 17px;
    background-image: url("../img/icons.webp");
    height: 17px;
    top: calc(50% - 17px / 2);
    left: calc(50% - 17px / 2);
    background-size: 326px;
    background-position: -42px -187px;
    background-repeat: no-repeat;
}
.card-all-right-item-socials-icon.vk:before{
	content: "";
    position: absolute;
    background-image: url("../img/icons.webp");
    width: 23px;
    height: 13px;
    top: calc(50% - 13px / 2);
    left: calc(50% - 23px / 2);
    background-size: 326px;
    background-position: -67px -188px;
    background-repeat: no-repeat;
}
.card-all-right-item-price-span{
	font-size: 18px;
	font-family: "Forum";
}
.card-all-right-item-price-span.old{
	text-decoration-line: line-through;
	color: #ABC2B0;
	margin: 0 10px;
}

.card-all-right-item-write{
	margin-bottom: 24px;
}
.card-all-right-item-write-link{
	display: flex;
	justify-content: center;
	align-items: center;
	color: #424443;
	background: #fff;
	border-radius: 30px;
	padding: 12px 0;
	margin-bottom: 10px;
}
.card-all-right-item-write-link-icon{
	display: block;
	width: 18px;
	height: 18px;
	background-image: url("../img/icons.webp");
	background-size: 300px;
	background-repeat: no-repeat;
	margin-right: 7px;
}
.card-all-right-item-write-link-icon.wb{
	background-position: -50px -35px;
}
.card-all-right-item-write-link-icon.wp{
	background-position: -70px -33px;
}
.card-all-right-item-write-link-span{

}
.card-all-right-item-submit{

}
.card-all-right-item-submit-text{
	margin-bottom: 5px;
	text-align: center;
	color: #424443;
}

.card-all-left-video{
	margin-bottom: 100px;
}
.card-all-left-video-head{
	margin-bottom: 40px;
}
.card-all-left-video-wrap{
	display: flex;
	flex-wrap: wrap;
}
.card-all-left-video-item{
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	height: 210px;
	width: 32.5%;	
	border-radius: 30px;
	margin-right: 7px;
	margin-bottom: 7px;
	position: relative;
}
.card-all-left-video-item:before{
	content: "";
	position: absolute;
	width: 60px;
	height: 60px;
	background-image: url("../img/icons.webp");
	background-repeat: no-repeat;
	background-size: 326px;
    background-position: -4px -58px;
    z-index: 2;
}
.card-all-left-video-item:after{
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;	
    z-index: 1;
    background: rgba(0,0,0,0.4);    
}
.card-all-left-video-item.big{
	width: 100%;
	height: 562px;
	margin-bottom: 30px;
}
.card-all-left-video-item-img{
	width: 100%;
	display: block;
	border-radius: 30px;
}

#socials{

}
.socials-container{
	padding: 31px 0;
	border-top: 2px solid #e6e6e6;
	border-bottom: 2px solid #e6e6e6;
}
.socials-content{
	display: flex;
	justify-content: center;
}
.socials-link{
	background: #F8F3F0;
	border-radius: 50%;
	padding: 15px;
	margin-right: 8px;
	transition: all 0.2s ease;
}
.socials-link:hover{
	background: #e8e3e1;
	transition: all 0.2s ease;
}
.socials-link-icon{
	display: block;
	width: 33px;
	height: 33px;	
	background-repeat: no-repeat;
	background-size: 307px;
}
.socials-link-icon.fb{
	background-position: 6px 0px;
}
.socials-link-icon.ig{
	background-position: -38px -1px;
}
.socials-link-icon.p{
	background-position: -68px 0px;
}
.socials-link-icon.vk{
	background-position: -105px 4px;
}


footer{
	padding: 59px 0;
}
.footer-content{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.footer-left{
	width: 21.4%;
}
.footer-left-logo{

}
.footer-left-logo-link{

}
.footer-left-logo-link-text{
	color: #A5A8A6;
	text-align: center;
	display: block;
	width: 100%;
	margin-bottom: 3px;
}
.footer-left-logo-link-img{
	width: 100%;
}
.footer-left-logo-link-city-wrap{
	color: #A5A8A6;
	text-align: center;
}
.footer-left-info{
	font-size: 15px;
	line-height: 24px;
	color: #B0B0B0;
	display: block;
	margin-top: 62px;
}
.footer-right{
	width: 70%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.footer-right-item{
	width: 23%;
}
.footer-right-item-head{
	font-size: 20px;
	line-height: 25px;
	font-family: "forum";
	color: #424443;
	margin-bottom: 10px;
}
.footer-right-item-link{
	display: block;
	color: #B0B0B0;
	margin-bottom: 5px;
	font-size: 15px;
	line-height: 24px;
	transition: all 0.2s ease;
}
.footer-right-item-link:hover{
	transition: all 0.2s ease;
	color: #000;
}

#modal-not-working{
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.7);
	z-index: 1000;
	top: 0;
	left: 0;
	display: none;
}
.not-working-container{
	position: relative;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.not-working-content{
	width: 30%;
	border-radius: 3px;
	background: #fff;
	padding: 30px;
	position: relative;
}
.not-working-info{
	margin-bottom: 15px;
	font-size: 16px;
}
.not-working-form-input{
	border-radius: 3px;	    
    line-height: 24px;
    padding: 9px 44px 9px 25px;	    	   
    background-size: 20px;
    background-position: 95% center; 
    border: 1px solid #ccc;
    width: 100%; 	
    box-sizing: border-box; 
    margin-bottom: 15px;   
    transition: all 0.2s ease-out;
}
.not-working-form-submit{
	color: #fff;
    background: #ABC2B0;
    border-radius: 3px;
    box-sizing: border-box;
    cursor: pointer;
    border: 0;
    width: 100%;
    text-align: center; 
    padding: 9px 0;
    transition: all 0.2s ease-out;
}
.not-working-form-submit:hover{
	background: #93b29a;
	transform: all 0.2s ease-out;
}
.not-working-close{
	position: absolute;
	width: 20px;
	height: 20px;
	top: -25px;
	right: -25px;
	background-image: url("../img/icons.webp");
	background-repeat: no-repeat;
	background-size: 237px;
    background-position: -2px -131px;
    cursor: pointer;
}
#modal-input,
#modal-reg{
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.6);
	top: 0;
	left: 0;
	z-index: 1000000;	
	display: none;
}
.modal-input-container,
.modal-reg-container{
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	height: 100%;
}
.modal-input-content,
.modal-reg-content{
	background: #fff;
	padding: 30px;
	border-radius: 30px;
	box-sizing: border-box;
	width: 35%;
	display: none;
	position: relative;
}
.modal-input-close,
.modal-reg-close{
	width: 30px;
	height: 30px;
	display: block;
	position: absolute;
	top: -30px;
	right: -30px;
	background-image: url("../img/icons.webp");
	background-repeat: no-repeat;
	background-position: -5px -229px;
    background-size: 409px;
    cursor: pointer;
    opacity: .7;
    transition: all 0.2s ease-out;
}
.modal-input-close:hover,
.modal-reg-close:hover{
	opacity: 1;
	transition: all 0.2s ease-out;
}
.modal-reg-form{
	position: relative;
}
.modal-reg-form-loader{
	position: absolute;
	width: 64px;
	height: 64px;
	top: calc(50% - 64px / 2);
	left: calc(50% - 64px / 2);
	z-index: 10;
	display: none;
}
.modal-input-form-field,
.modal-reg-form-field{
	margin-bottom: 15px;
}
.modal-reg-form-error-server{
	margin-bottom: 10px;
	width: 100%;
	display: block;
	color: #c72e32;
	text-align: center;
}
.modal-reg-form-field.check{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.modal-reg-form-field-check-input{
	margin-right: 4px;
}
.modal-reg-form-field-check-text,
.modal-reg-form-field-check-text-link{
	font-size: 12px;
}
.modal-reg-form-field-check-text{
	width: 94%;
}
.modal-input-form-field-input,
.modal-reg-form-field-input{
	border: 1px solid #E7E7E7;
    box-sizing: border-box;
    border-radius: 30px;
    color: #B0B0B0;
    line-height: 24px;
    padding: 9px 44px 9px 25px;
    width: 100%;    
}
.modal-input-form-field-input.error,
.modal-reg-form-field-input.error{
	border: 1px solid #c72e32;
}
.modal-reg-form-field-error{
	width: 100%;
	display: block;
	font-size: 12px;
	color: #c72e32;
	text-align: center;
}

.modal-input-form-submit{
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}
.modal-input-form-submit-socials{
	display: flex;
}
.modal-input-form-submit-socials-link{
	width: 30px;
	height: 30px;
	background-image: url("../img/icons.webp");
	background-size: 290px;
	background-repeat: no-repeat;
	margin-right: 4px;
}
.modal-input-form-submit-socials-link:last-child{
	margin-right: 0px;
}
.modal-input-form-submit-socials-link.vk{
	background-position: -2px -249px;
}
.modal-input-form-submit-socials-link.fb{
	background-position: -31px -249px;
}
.modal-input-form-submit-socials-link.gl{
	background-position: -61px -249px;
}
.modal-input-form-submit-socials-link.ya{
	background-position: -92px -249px;
}
.modal-input-form-submit-button,
.modal-reg-form-submit-button{
	background: #ABC2B0;
	padding: 10px 30px;
	border: 0;
	cursor: pointer;
	color: #fff;
	border-radius: 30px;
	transition: all 0.2s ease-out;
}
.modal-reg-form-submit-button{
	width: 100%;
}
.modal-input-form-submit-button:hover,
.modal-reg-form-submit-button:hover{
	background: #91af98;
	transition: all 0.2s ease-out;
}

#modal-date{
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.7);
	z-index: 1000;
	top: 0;
	left: 0;
	overflow: auto;
	display: none;
}
.modal-date-container{
	position: relative;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.modal-date-content{
	width: 44%;
	border-radius: 30px;
	background: #fff;
	padding: 80px;
	position: relative;
	display: none;
}
.modal-date-close{
	position: absolute;
	width: 40px;
	height: 40px;
	top: -42px;
	right: -42px;
	background-image: url("../img/icons.webp");
	background-position: -233px -454px;
    background-size: 519px;
    background-repeat: no-repeat;
    cursor: pointer;
}
.modal-date-wrap{
	text-align: center;
	margin-bottom: 62px;
}
.modal-date-wrap.last{
	margin-bottom: 20px
}
.modal-date-head{
	font-family: "Forum";
	text-align: center;
	font-size: 30px;
	margin-bottom: 15px;
}
.modal-date-label{
	position: relative;
}
.modal-date-input{
	border: 1px solid #e7e7e7;
	border-radius: 30px;
	padding: 15px 20px;
    display: inline-block;
    width: 39%;
}
.modal-date-calendar{
	cursor: pointer;
	position: absolute;
	top: -3px;
    right: 17px;
	width: 22px;
	height: 22px;
	background-image: url("../img/icons.webp");
	background-position: -193px -318px;
    background-size: 360px;
    background-repeat: no-repeat;
}
.modal-date-socials{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-bottom: 26px;
}
.modal-date-socials-link{
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	border-radius: 30px;
	padding: 11px 32px;
}
.modal-date-socials-link.vk{
	background: #4a719e;
	transition: all 0.2s ease-out;
}
.modal-date-socials-link.vk:hover{
	background: #3d6592;
	transition: all 0.2s ease-out;
}
.modal-date-socials-link.gl{
	background: #d64b40;
	transition: all 0.2s ease-out;
}
.modal-date-socials-link.gl:hover{
	background: #c3372c;
	transition: all 0.2s ease-out;
}
.modal-date-socials-link.fb{
	background: #3a569a;
	transition: all 0.2s ease-out;
}
.modal-date-socials-link.fb:hover{
	background: #314c8d;
	transition: all 0.2s ease-out;
}
.modal-date-socials-link-icon{
	display: inline-block;
	width: 27px;
	height: 27px;
	background-image: url("../img/icons.webp");
	background-repeat: no-repeat;
	background-size: 360px;
	margin-right: 11px;
}
.modal-date-socials-link-icon.vk{
	background-position: -279px -313px;
}
.modal-date-socials-link-icon.gl{
	background-position: -246px -313px;
}
.modal-date-socials-link-icon.fb{
	background-position: -214px -313px;
}
.modal-date-socials-link-span{
	font-size: 16px;
}
.modal-date-info{
	font-family: "Forum";
	text-align: center;
	font-size: 20px;
	margin-bottom: 30px;
}
.modal-date-submit{
	margin: 0 auto;
	text-align: center;
	border: 0;
	color: #fff;
	background: #abc2b0;
	border-radius: 30px;
	padding: 15px 38px;
	display: block;
	font-size: 16px;
	transition: all 0.2s ease-out;
	cursor: pointer;
}
.modal-date-submit:hover{
	background: #93b19a;
	transition: all 0.2s ease-out;
}

@media (max-width: 1190px) and (min-width:900px){
	.card-all-left-video-item.big{
		height: 329px;
	}	
	.card-all-left-video-item{
		width: 48.5%;
	}
	.card-all-left-video{
		margin-bottom: 50px;
	}
	.head-left{
		margin-bottom: 40px;
	}	
	.head-left-h{		
		font-size: 40px;
		line-height: 44px;
	}
	.head-left-h.min-font{
		font-size: 30px;
		line-height: 33px;
	}
	.head-center{
		margin-bottom: 40px;
	}
	.head-center-h{
		font-size: 40px;
		line-height: 44px;
	}	
	.container{
		width: 900px;
	}
	header{
		padding: 19px 0;
	}	
	.header-logo{
		width: 24.8%;
	}
	.header-logo-link-text{
		margin-bottom: 4px;
		letter-spacing: 1px;
	}
	.header-logo-link-img{
		width: 100%;
	}	
	.header-logo-link-city{
		margin-top: 4px;
		letter-spacing: 1px;
	}
	.header-logo-link-city-icon{
		width: 14px;
	    height: 7px;
	    top: 5px;
	    background-size: 349px;
	    background-position: -27px -5px;
	}
	.header-search{		
		width: 35%;
	}
	.header-search-input{		    
	    border-radius: 30px;	    
	    line-height: 24px;
	    padding: 9px 44px 9px 25px;	    	   
	    background-size: 20px;
	    background-position: 95% center;  	    
	}	
	.header-auth-link{
		border-radius: 30px;
		padding: 9px 28px;
		font-size: 16px;
	}
	.header-auth-link.input{
		margin-right: 10px;
	}
	.nav-list-item{
		padding: 21px 0;
	}
	.nav-list-item-link:before{
		width: 100%;
		height: 3px;
	}	
	.nav-list-item-link{
		font-size: 18px;
	}	
	.nav-list-item-link.submenu-icon:after{		
		width: 14px;
	    height: 7px;
		top: 8px;
	    right: -20px;
	    background-size: 349px;
	    background-position: -27px -5px;
	}
	.nav-list-item-submenu{			
		border-radius: 0px 0px 20px 20px;
		margin-top: 7px;
		z-index: 8;
	}
	.nav-list-item.submenu:hover > .nav-list-item-submenu{		
		max-height: 300px;
		padding: 15px;
	}	
	.nav-list-item-submenu-list-item-link{
		padding: 8px 20px 8px 12px;
		font-size: 15px;
	}

	#bread-crumbs{		
		padding: 40px 0;		
	}
	.bread-crumbs-link{		
		font-size: 18px;	
	}	

	#card-menu{
		margin-bottom: 60px;
	}
	.card-menu-content{			
		border-radius: 30px;
		padding: 21px 48px;		
	}
		
	.card-all-left{
		width: 65.2%;
	}
		
	.card-all-right-item-submit-link{			
		border-radius: 30px;		
		padding: 15px 0;		
		font-size: 16px;
	}	

	.card-all-right{
		width: 306px;
	}
	.card-all-right-item{
		border-radius: 30px;
		padding: 20px;		
		margin-bottom: 20px;
		margin-right: 0px;
		width: 306px;
	}
	.card-all-right-item-avatar{		
		margin-bottom: 20px;
	}
	.card-all-right-item-avatar-img{
		width: 100%;		
		border-radius: 30px;
	}
	.card-all-right-item-avatar-pro{		
		padding: 7px 15px;
		border-radius: 30px;		
		top: 10px;
	    right: 10px;
	}
	.card-all-right-item-favorite{		
		border-radius: 30px;		
		font-size: 16px;
		padding: 11px 0;
		margin-bottom: 16px;		
	}	
	.card-all-right-item-favorite-icon{
		width: 18px;
		height: 18px;		
		background-size: 300px;		
		background-position: -134px -240px;
		margin-right: 7px;
	}
	.card-all-right-item-favorite-icon.active{
		background-position: -156px -240px;
	}
	.card-all-right-item-name{
		font-size: 25px;
		line-height: 28px;		
		margin-bottom: 12px;
	}
	.card-all-right-item-text{
		font-size: 16px;		
		margin-bottom: 19px;
	}
	.card-all-right-item-phone{
		font-size: 18px;		
		margin-bottom: 13px;
	}
	.card-all-right-item-phone:before{		
	    width: 17px;
	    height: 17px;
	    top: 1px;
	    left: -19px;	    
	    background-size: 272px;
	    background-position: -80px -153px;
	}
	.card-all-right-item-socials{		
	    margin-bottom: 20px;
	}
	.card-all-right-item-socials-icon{		
	    width: 43px;
	    height: 43px;	   
	    border-radius: 50%;	    
	    margin-right: 7px;
	}	
	.card-all-right-item-socials-icon.inst:before{		
	    width: 17px;	   
	    height: 17px;
	    top: calc(50% - 17px / 2);
	    left: calc(50% - 17px / 2);
	    background-size: 326px;
	    background-position: -42px -187px;	    
	}
	.card-all-right-item-socials-icon.vk:before{		
	    width: 23px;
	    height: 13px;
	    top: calc(50% - 13px / 2);
	    left: calc(50% - 23px / 2);
	    background-size: 326px;
	    background-position: -67px -188px;	    
	}
	.card-all-right-item-price-span{
		font-size: 18px;		
	}
	.card-all-right-item-price-span.old{		
		margin: 0 10px;
	}

	.card-all-right-item-write{
		margin-bottom: 24px;
	}
	.card-all-right-item-write-link{		
		border-radius: 30px;
		padding: 12px 0;
		margin-bottom: 10px;
	}
	.card-all-right-item-write-link-icon{		
		width: 18px;
		height: 18px;		
		background-size: 300px;		
		margin-right: 7px;
	}
	.card-all-right-item-write-link-icon.wb{
		background-position: -50px -35px;
	}
	.card-all-right-item-write-link-icon.wp{
		background-position: -70px -33px;
	}	
	.card-all-right-item-submit-text{
		margin-bottom: 5px;		
	}
	
	
	footer{
		padding: 59px 0;
	}
	.footer-left{
		width: 26.4%;
	}
	.footer-left-logo-link-text{
		margin-bottom: 3px;
	}
	.footer-left-info{
		font-size: 15px;
		line-height: 24px;
		margin-top: 62px;
	}
	.footer-right{
		width: 70%;
	}
	.footer-right-item{
		width: 23%;
	}
	.footer-right-item-head{
		font-size: 20px;
		line-height: 25px;
		margin-bottom: 10px;
	}
	.footer-right-item-link{
		margin-bottom: 5px;
		font-size: 15px;
		line-height: 24px;
	}

	.not-working-content{
		width: 40%;				
		padding: 30px;		
	}
	.not-working-info{
		margin-bottom: 15px;
		font-size: 16px;
	}
	.not-working-form-input{
		border-radius: 3px;	    
	    line-height: 24px;
	    padding: 9px 44px 9px 25px;		   
	    width: 100%; 	    
	    margin-bottom: 15px;  	    
	}
	.not-working-form-submit{		
	    border-radius: 3px;	       
	    padding: 9px 0;	    
	}	
	.not-working-close{		
		width: 20px;
		height: 20px;
		top: -25px;
		right: -25px;		
		background-size: 237px;
	    background-position: -2px -131px;	    
	}
	.modal-input-content,
	.modal-reg-content{		
		padding: 30px;
		border-radius: 30px;		
		width: 50%;		
	}
	.modal-input-close,
	.modal-reg-close{
		width: 30px;
		height: 30px;		
		top: -30px;
		right: -30px;		
		background-position: -5px -229px;
	    background-size: 409px;	    
	}
	.modal-input-form-field,
	.modal-reg-form-field{
		margin-bottom: 15px;
	}
	.modal-input-form-field-input,
	.modal-reg-form-field-input{	    
	    line-height: 24px;
	    padding: 9px 44px 9px 25px;	   
	}	
	.modal-input-form-submit-button,
	.modal-reg-form-submit-button{		
		padding: 10px 30px;		
		border-radius: 30px;		
	}

	.modal-date-content {
	    width: 57%;   
	    padding: 40px;	    
	}
	.modal-date-wrap {	    
	    margin-bottom: 30px;
	}	
}
@media (max-width: 920px) and (min-width:640px){
	.card-all-left-video-item.big{
		height: auto;
		margin-bottom: 7px;
		margin-right: 0px;
	}	
	.card-all-left-video-item{
		width: 100%;
		height: auto;
		margin-right: 0px;
	}
	.head-left{
		text-align: center;
		margin-bottom: 40px;
	}	
	.head-left-h{		
		font-size: 30px;
		line-height: 33px;
		display: inline-block;	
	}
	.head-left-h.min-font{
		font-size: 30px;
		line-height: 33px;
	}
	.head-center{
		margin-bottom: 40px;
	}
	.head-center-h{
		font-size: 40px;
		line-height: 44px;
	}	
	.container{
		width: 640px;
	}
	header{
		padding: 10px 0;
	}	
	.header-logo{
		width: 36.8%;
	}
	.header-logo-link-text{
		margin-bottom: 4px;
		letter-spacing: 1px;
	}
	.header-logo-link-img{
		width: 100%;
	}	
	.header-logo-link-city{
		margin-top: 4px;
		letter-spacing: 1px;
	}
	.header-content{
		flex-wrap: wrap;
	}
	.header-logo-link-city-icon{
		width: 14px;
	    height: 7px;
	    top: 5px;
	    background-size: 349px;
	    background-position: -27px -5px;
	}
	.header-search{		
		width: 100%;
		order: 3;
		margin-top: 10px;
	}
	.header-search-input{		    
	    border-radius: 30px;	    
	    line-height: 24px;
	    padding: 2px 44px 2px 25px;	    	   
	    background-size: 20px;
	    background-position: 95% center;  	    
	}	
	.header-auth-link{
		border-radius: 30px;
    	padding: 8px 28px;
    	font-size: 14px;
	}
	.header-auth-link.input{
		margin-right: 10px;
	}	
	.nav-list-item{
		padding: 13px 0;
	}
	.nav-list-item-link:before{
		width: 100%;
		height: 3px;
	}	
	.nav-list-item-link{
		font-size: 14px;
	}	
	.nav-list-item-link.submenu-icon:after{		
		width: 14px;
	    height: 7px;
	    top: 6px;
	    right: -16px;
	    background-size: 349px;
	    background-position: -27px -5px;
	}
	.nav-list-item-submenu{			
		border-radius: 0px 0px 20px 20px;
		margin-top: 7px;
		z-index: 8;
	}
	.nav-list-item.submenu:hover > .nav-list-item-submenu{		
		max-height: 300px;
		padding: 15px;
	}	
	.nav-list-item-submenu-list-item-link{
		padding: 8px 20px 8px 12px;
		font-size: 13px;
	}

	#bread-crumbs{		
		padding: 20px 0;		
	}
	.bread-crumbs-link{		
		font-size: 14px;	
	}	

	#card-menu{
		margin-bottom: 60px;
	}
	.card-menu-content{			
		border-radius: 30px;
		padding: 21px 22px;		
	}
	.card-menu-item{
		font-size: 12px;
	}
		
	.card-all-left{
		width: 58.2%;
	}
		
	.card-all-right-item-submit-link{			
		border-radius: 30px;		
		padding: 15px 0;		
		font-size: 16px;
	}		

	.card-all-right{
		width: 256px;
	}
	.card-all-right-item{
		width: 256px;
		border-radius: 30px;
		padding: 20px;		
		margin-bottom: 20px;
		margin-right: 0px;
	}
	.card-all-right-item-avatar{		
		margin-bottom: 20px;
	}
	.card-all-right-item-avatar-img{
		width: 100%;		
		border-radius: 30px;
	}
	.card-all-right-item-avatar-pro{		
		padding: 7px 15px;
		border-radius: 30px;		
		top: 10px;
	    right: 10px;
	}
	.card-all-right-item-favorite{		
		border-radius: 30px;		
		font-size: 16px;
		padding: 11px 0;
		margin-bottom: 16px;		
	}	
	.card-all-right-item-favorite-icon{
		width: 18px;
		height: 18px;		
		background-size: 300px;		
		background-position: -134px -240px;
		margin-right: 7px;
	}
	.card-all-right-item-favorite-icon.active{
		background-position: -156px -240px;
	}
	.card-all-right-item-name{
		font-size: 25px;
		line-height: 28px;		
		margin-bottom: 12px;
	}
	.card-all-right-item-text{
		font-size: 16px;		
		margin-bottom: 19px;
	}
	.card-all-right-item-phone{
		font-size: 18px;		
		margin-bottom: 13px;
	}
	.card-all-right-item-phone:before{		
	    width: 17px;
	    height: 17px;
	    top: 1px;
	    left: -19px;	    
	    background-size: 272px;
	    background-position: -80px -153px;
	}
	.card-all-right-item-socials{		
	    margin-bottom: 20px;
	}
	.card-all-right-item-socials-icon{		
	    width: 43px;
	    height: 43px;	   
	    border-radius: 50%;	    
	    margin-right: 7px;
	}	
	.card-all-right-item-socials-icon.inst:before{		
	    width: 17px;	   
	    height: 17px;
	    top: calc(50% - 17px / 2);
	    left: calc(50% - 17px / 2);
	    background-size: 326px;
	    background-position: -42px -187px;	    
	}
	.card-all-right-item-socials-icon.vk:before{		
	    width: 23px;
	    height: 13px;
	    top: calc(50% - 13px / 2);
	    left: calc(50% - 23px / 2);
	    background-size: 326px;
	    background-position: -67px -188px;	    
	}
	.card-all-right-item-price-span{
		font-size: 18px;		
	}
	.card-all-right-item-price-span.old{		
		margin: 0 10px;
	}

	.card-all-right-item-write{
		margin-bottom: 24px;
	}
	.card-all-right-item-write-link{		
		border-radius: 30px;
		padding: 12px 0;
		margin-bottom: 10px;
	}
	.card-all-right-item-write-link-icon{		
		width: 18px;
		height: 18px;		
		background-size: 300px;		
		margin-right: 7px;
	}
	.card-all-right-item-write-link-icon.wb{
		background-position: -50px -35px;
	}
	.card-all-right-item-write-link-icon.wp{
		background-position: -70px -33px;
	}	
	.card-all-right-item-submit-text{
		margin-bottom: 5px;		
	}

	
	footer{
		padding: 59px 0;
	}
	.footer-left{
		width: 34.4%;
	}
	.footer-left-logo-link-text{
		margin-bottom: 3px;
	}
	.footer-left-info{
		font-size: 15px;
		line-height: 24px;
		margin-top: 62px;
	}
	.footer-right{
		width: 59%;
	}
	.footer-right-item{
		width: 47%;
	}
	.footer-right-item-head{
		font-size: 20px;
		line-height: 25px;
		margin-bottom: 10px;
	}
	.footer-right-item-link{
		margin-bottom: 5px;
		font-size: 15px;
		line-height: 24px;
	}

	.not-working-content{
		width: 70%;				
		padding: 30px;		
	}
	.not-working-info{
		margin-bottom: 15px;
		font-size: 14px;
	}
	.not-working-form-input{
		border-radius: 3px;	    
	    line-height: 24px;
	    padding: 9px 44px 9px 25px;		   
	    width: 100%; 	    
	    margin-bottom: 15px;  	    
	}
	.not-working-form-submit{		
	    border-radius: 3px;	       
	    padding: 9px 0;	    
	}	
	.not-working-close{		
		width: 20px;
		height: 20px;
		top: -25px;
		right: -25px;		
		background-size: 237px;
	    background-position: -2px -131px;	    
	}
	.modal-input-content,
	.modal-reg-content{		
		padding: 30px;
		border-radius: 30px;		
		width: 70%;		
	}
	.modal-input-close,
	.modal-reg-close{
		width: 30px;
		height: 30px;		
		top: -30px;
		right: -30px;		
		background-position: -5px -229px;
	    background-size: 409px;	    
	}
	.modal-input-form-field,
	.modal-reg-form-field{
		margin-bottom: 15px;
	}
	.modal-input-form-field-input,
	.modal-reg-form-field-input{	    
	    line-height: 24px;
	    padding: 9px 44px 9px 25px;	   
	}	
	.modal-input-form-submit-button,
	.modal-reg-form-submit-button{		
		padding: 10px 30px;		
		border-radius: 30px;		
	}	

	.modal-date-wrap {	    
	    margin-bottom: 30px;
	}

	.modal-date-content {
	    width: 74%;
	    padding: 40px;
	}
	.modal-date-socials-link {	    
	    padding: 11px 25px;
	}	
}
@media (max-width: 660px) and (min-width:490px){	
	.card-all-left-video-item.big{
		height: auto;
		margin-bottom: 7px;
		margin-right: 0px;
	}	
	.card-all-left-video-item{
		width: 100%;
		height: auto;
		margin-right: 0px;
	}
	*{
		font-size: 12px;
	}
	.head-left{
		text-align: center;
		margin-bottom: 40px;
	}	
	.head-left-h{		
		font-size: 30px;
    	line-height: 34px;
	}
	.head-left-h.min-font{
		font-size: 30px;
		line-height: 33px;
	}
	.head-center{
		margin-bottom: 40px;
	}
	.head-center-h{
		font-size: 30px;
    	line-height: 34px;
	}	
	.container{
		width: 490px;
	}
	header{
		padding: 10px 0;
	}	
	.header-logo{
		width: 100%;
		margin-bottom: 10px;
	}
	.header-auth{
		width: 100%;
    	justify-content: center;
	}
	.header-logo-link-text{
		margin-bottom: 4px;
		letter-spacing: 1px;
	}
	.header-logo-link-img{
		width: 56%;
    	margin: 0 auto;
    	display: block;
	}	
	.header-logo-link-city{
		margin-top: 4px;
		letter-spacing: 1px;
	}
	.header-logo-link-city-icon{
		width: 14px;
	    height: 7px;
	    top: 5px;
	    background-size: 349px;
	    background-position: -27px -5px;
	}
	.header-content{
		flex-wrap: wrap;
	}
	.header-logo-link-city-icon{
		width: 14px;
	    height: 7px;
	    top: 5px;
	    background-size: 349px;
	    background-position: -27px -5px;
	}
	.header-search{		
		width: 100%;
		order: 3;
		margin-top: 10px;
	}	
	.header-search-input{
		padding: 3px 44px 3px 20px;
	}
	.header-auth-link{
		border-radius: 30px;
    	padding: 8px 28px;
    	font-size: 14px;
	}
	.header-auth-link.input{
		margin-right: 10px;
	}
	.m-menu{
		width: 25px;
		height: 25px;
		margin: 7px 0;		
		background-size: 354px;
    	background-repeat: no-repeat;
    	background-position: -5px -37px;
    	position: relative;
    	cursor: pointer;
	}
	.m-menu:after{
		content: "МЕНЮ";
    	position: absolute;
    	top: 2px;
    	right: -58px;
   	 	font-size: 18px;
   	 	cursor: pointer;
	}
	.nav-list{
		display: none;		
	}
	.nav-list-item{
		padding: 13px 0;		
	}
	.nav-list-item-link:before{
		width: 100%;
		height: 3px;
	}	
	.nav-list-item-link{
		font-size: 14px;
	}	
	.nav-list-item-link.submenu-icon:after{		
		width: 14px;
	    height: 7px;
	    top: 6px;
	    right: -16px;
	    background-size: 349px;
	    background-position: -27px -5px;
	}
	.nav-list-item-submenu{			
		border-radius: 0px 0px 20px 20px;
		margin-top: 7px;
		z-index: 8;
	}
	.nav-list-item.submenu:hover > .nav-list-item-submenu{		
		max-height: 300px;
		padding: 0px;
		position: static;
	}	
	.nav-list-item-submenu-list-item-link{
		padding: 8px 20px 8px 12px;
		font-size: 13px;
	}

	.bread-crumbs-link{
		font-size: 14px;
	}	

	#card-menu{
		margin-bottom: 60px;
	}
	.card-menu-content{			
		border-radius: 30px;
		padding: 21px 22px;
		flex-wrap: wrap;		
	}
	.card-menu-item{
		font-size: 14px;
		margin-right: 30px;
		margin-bottom: 10px;
		margin-top: 10px;
	}
		
	.card-all-left{
		width: 100%;
	}
		
	.card-all-right-item-submit-link{			
		border-radius: 30px;		
		padding: 15px 0;		
		font-size: 16px;
	}		

	.card-all-right{
		width: 100%;
	}
	.card-all-right-item{
		width: 100%;
		border-radius: 30px;
		padding: 20px;		
		margin-bottom: 20px;
		margin-right: 19px;
	}
	.card-all-right-item-avatar{		
		margin-bottom: 20px;
	}
	.card-all-right-item-avatar-img{
		width: 100%;		
		border-radius: 30px;
	}
	.card-all-right-item-avatar-pro{		
		padding: 7px 15px;
		border-radius: 30px;		
		top: 10px;
	    right: 10px;
	}
	.card-all-right-item-favorite{		
		border-radius: 30px;		
		font-size: 16px;
		padding: 11px 0;
		margin-bottom: 16px;		
	}	
	.card-all-right-item-favorite-icon{
		width: 18px;
		height: 18px;		
		background-size: 300px;		
		background-position: -134px -240px;
		margin-right: 7px;
	}
	.card-all-right-item-favorite-icon.active{
		background-position: -156px -240px;
	}
	.card-all-right-item-name{
		font-size: 25px;
		line-height: 28px;		
		margin-bottom: 12px;
	}
	.card-all-right-item-text{
		font-size: 16px;		
		margin-bottom: 19px;
	}
	.card-all-right-item-phone{
		font-size: 18px;		
		margin-bottom: 13px;
	}
	.card-all-right-item-phone:before{		
	    width: 17px;
	    height: 17px;
	    top: 1px;
	    left: -19px;	    
	    background-size: 272px;
	    background-position: -80px -153px;
	}
	.card-all-right-item-socials{		
	    margin-bottom: 20px;
	}
	.card-all-right-item-socials-icon{		
	    width: 43px;
	    height: 43px;	   
	    border-radius: 50%;	    
	    margin-right: 7px;
	}	
	.card-all-right-item-socials-icon.inst:before{		
	    width: 17px;	   
	    height: 17px;
	    top: calc(50% - 17px / 2);
	    left: calc(50% - 17px / 2);
	    background-size: 326px;
	    background-position: -42px -187px;	    
	}
	.card-all-right-item-socials-icon.vk:before{		
	    width: 23px;
	    height: 13px;
	    top: calc(50% - 13px / 2);
	    left: calc(50% - 23px / 2);
	    background-size: 326px;
	    background-position: -67px -188px;	    
	}
	.card-all-right-item-price-span{
		font-size: 18px;		
	}
	.card-all-right-item-price-span.old{		
		margin: 0 10px;
	}

	.card-all-right-item-write{
		margin-bottom: 24px;
	}
	.card-all-right-item-write-link{		
		border-radius: 30px;
		padding: 12px 0;
		margin-bottom: 10px;
	}
	.card-all-right-item-write-link-icon{		
		width: 18px;
		height: 18px;		
		background-size: 300px;		
		margin-right: 7px;
	}
	.card-all-right-item-write-link-icon.wb{
		background-position: -50px -35px;
	}
	.card-all-right-item-write-link-icon.wp{
		background-position: -70px -33px;
	}	
	.card-all-right-item-submit-text{
		margin-bottom: 5px;		
	}	

	
	footer{
		padding: 59px 0;
	}
	.footer-left{
		width: 100%;
	}
	.footer-left-logo-link-text{
		margin-bottom: 3px;
	}
	.footer-left-info{
		font-size: 15px;
		line-height: 24px;
		margin-top: 62px;
	}
	.footer-right{
		width: 100%;
		margin-top: 20px;
	}
	.footer-right-item{
		width: 47%;
	}
	.footer-right-item-head{
		font-size: 20px;
		line-height: 25px;
		margin-bottom: 10px;
	}
	.footer-right-item-link{
		margin-bottom: 5px;
		font-size: 15px;
		line-height: 24px;
	}

	.not-working-content{
		width: 77%;				
		padding: 30px;		
	}
	.not-working-info{
		margin-bottom: 15px;
		font-size: 14px;
	}
	.not-working-form-input{
		border-radius: 3px;	    
	    line-height: 24px;
	    padding: 9px 44px 9px 25px;		   
	    width: 100%; 	    
	    margin-bottom: 15px;  	    
	}
	.not-working-form-submit{		
	    border-radius: 3px;	       
	    padding: 9px 0;	    
	}	
	.not-working-close{		
		width: 20px;
		height: 20px;
		top: -25px;
		right: -25px;		
		background-size: 237px;
	    background-position: -2px -131px;	    
	}
	.modal-input-content,
	.modal-reg-content{		
		padding: 30px;
		border-radius: 30px;		
		width: 90%;		
	}
	.modal-input-close,
	.modal-reg-close{
		width: 30px;
		height: 30px;		
		top: -30px;
		right: -30px;		
		background-position: -5px -229px;
	    background-size: 409px;	    
	}
	.modal-input-form-field,
	.modal-reg-form-field{
		margin-bottom: 15px;
	}
	.modal-input-form-field-input,
	.modal-reg-form-field-input{	    
	    line-height: 24px;
	    padding: 9px 44px 9px 25px;	   
	}	
	.modal-input-form-submit-button,
	.modal-reg-form-submit-button{		
		padding: 10px 30px;		
		border-radius: 30px;		
	}	

	.modal-date-content {
	    width: 100%;
	    padding: 30px;
	}
	.modal-date-close {	    
	    right: 0px;	 
	    top: -50px;	   
	}
	.modal-date-head {	   
	    font-size: 22px;
	    margin-bottom: 15px;
	}
	.modal-date-label {
	    width: 100%;
	    display: block;
	}
	.modal-date-input{
		display: block;
		width: 100%;
		box-sizing: border-box;
	}
	.modal-date-calendar {	   
	    top: 12px;	   
	}
	.modal-date-socials-link {
	    width: 100%;
	    margin-bottom: 10px;
	}
	.modal-date-socials-link:last-child {	    
	    margin-bottom: 0px;
	}
	.modal-date-submit {
	    width: 100%;
	}
	.modal-date-wrap{
		margin-bottom: 20px;
	}	
}

@media (max-width: 510px){
	.card-all-left-video-item.big{
		height: auto;
		margin-bottom: 7px;
		margin-right: 0px;
	}	
	.card-all-left-video-item{
		width: 100%;
		height: auto;
		margin-right: 0px;
	}		
	*{
		font-size: 12px;
	}
	
	.head-left{
		text-align: center;
		margin-bottom: 40px;
	}	
	.head-left-h{		
		font-size: 30px;
    	line-height: 34px;
	}
	.head-left-h.min-font{
		font-size: 30px;
		line-height: 33px;
	}
	.head-center{
		margin-bottom: 40px;
	}
	.head-center-h{
		font-size: 30px;
    	line-height: 34px;
	}	
	.container{
		width: 98%;
	}
	header{
		padding: 10px 0;
	}	
	.header-logo{
		width: 100%;
		margin-bottom: 10px;
	}
	.header-auth{
		width: 100%;
    	justify-content: center;
	}
	.header-logo-link-text{
		margin-bottom: 4px;
		letter-spacing: 1px;
	}
	.header-logo-link-img{
		width: 56%;
    	margin: 0 auto;
    	display: block;
	}	
	.header-logo-link-city{
		margin-top: 4px;
		letter-spacing: 1px;
	}
	.header-logo-link-city-icon{
		width: 14px;
	    height: 7px;
	    top: 5px;
	    background-size: 349px;
	    background-position: -27px -5px;
	}
	.header-content{
		flex-wrap: wrap;
	}
	.header-logo-link-city-icon{
		width: 14px;
	    height: 7px;
	    top: 5px;
	    background-size: 349px;
	    background-position: -27px -5px;
	}
	.header-search{		
		width: 100%;
		order: 3;
		margin-top: 10px;
	}	
	.header-search-input{
		padding: 3px 44px 3px 20px;
	}
	.header-auth-link{
		border-radius: 30px;
    	padding: 8px 28px;
    	font-size: 14px;
	}
	.header-auth-link.input{
		margin-right: 10px;
	}
	.m-menu{
		width: 25px;
		height: 25px;
		margin: 7px 0;		
		background-size: 354px;
    	background-repeat: no-repeat;
    	background-position: -5px -37px;
    	position: relative;
    	cursor: pointer;
	}
	.m-menu:after{
		content: "МЕНЮ";
    	position: absolute;
    	top: 2px;
    	right: -58px;
   	 	font-size: 18px;
   	 	cursor: pointer;
	}
	.nav-list{
		display: none;	
		margin-left: 30px;	
		padding-bottom: 15px;
	}
	.nav-list-item{
		padding: 13px 0;		
	}
	.nav-list-item-link:before{
		width: 100%;
		height: 3px;
	}	
	.nav-list-item-link{
		font-size: 14px;
	}	
	.nav-list-item-link.submenu-icon:after{		
		width: 14px;
	    height: 7px;
	    top: 6px;
	    right: -16px;
	    background-size: 349px;
	    background-position: -27px -5px;
	}
	.nav-list-item-submenu{			
		border-radius: 0px 0px 20px 20px;
		margin-top: 7px;
		z-index: 8;
	}
	.nav-list-item.submenu:hover > .nav-list-item-submenu{		
		max-height: 300px;
		padding: 0px;
		position: static;
	}	
	.nav-list-item-submenu-list-item-link{
		padding: 8px 20px 8px 12px;
		font-size: 13px;
	}


	.bread-crumbs-link{
		font-size: 14px;
	}

	

	#card-menu{
		margin-bottom: 60px;
	}
	.card-menu-content{			
		border-radius: 30px;
		padding: 21px 22px;
		flex-wrap: wrap;		
	}
	.card-menu-item{
		font-size: 14px;
		margin-right: 0px;
		margin-bottom: 10px;
		margin-top: 10px;
		width: 100%;
		text-align: center;
	}
	#bread-crumbs{
		padding: 26px 0;
	}	
	.card-all-left{
		width: 100%;
	}
			
	.card-all-right-item-submit-link{			
		border-radius: 30px;		
		padding: 15px 0;		
		font-size: 16px;
	}		

	.card-all-right{
		width: 100%;
	}
	.card-all-right-item{
		border-radius: 30px;
		padding: 20px;		
		margin-bottom: 20px;
		margin-right: 19px;
		width: 100%;
	}
	.card-all-right-item-avatar{		
		margin-bottom: 20px;
	}
	.card-all-right-item-avatar-img{
		width: 100%;		
		border-radius: 30px;
	}
	.card-all-right-item-avatar-pro{		
		padding: 7px 15px;
		border-radius: 30px;		
		top: 10px;
	    right: 10px;
	}
	.card-all-right-item-favorite{		
		border-radius: 30px;		
		font-size: 16px;
		padding: 11px 0;
		margin-bottom: 16px;		
	}	
	.card-all-right-item-favorite-icon{
		width: 18px;
		height: 18px;		
		background-size: 300px;		
		background-position: -134px -240px;
		margin-right: 7px;
	}
	.card-all-right-item-favorite-icon.active{
		background-position: -156px -240px;
	}
	.card-all-right-item-name{
		font-size: 25px;
		line-height: 28px;		
		margin-bottom: 12px;
	}
	.card-all-right-item-text{
		font-size: 16px;		
		margin-bottom: 19px;
	}
	.card-all-right-item-phone{
		font-size: 18px;		
		margin-bottom: 13px;
	}
	.card-all-right-item-phone:before{		
	    width: 17px;
	    height: 17px;
	    top: 1px;
	    left: -19px;	    
	    background-size: 272px;
	    background-position: -80px -153px;
	}
	.card-all-right-item-socials{		
	    margin-bottom: 20px;
	}
	.card-all-right-item-socials-icon{		
	    width: 43px;
	    height: 43px;	   
	    border-radius: 50%;	    
	    margin-right: 7px;
	}	
	.card-all-right-item-socials-icon.inst:before{		
	    width: 17px;	   
	    height: 17px;
	    top: calc(50% - 17px / 2);
	    left: calc(50% - 17px / 2);
	    background-size: 326px;
	    background-position: -42px -187px;	    
	}
	.card-all-right-item-socials-icon.vk:before{		
	    width: 23px;
	    height: 13px;
	    top: calc(50% - 13px / 2);
	    left: calc(50% - 23px / 2);
	    background-size: 326px;
	    background-position: -67px -188px;	    
	}
	.card-all-right-item-price-span{
		font-size: 18px;		
	}
	.card-all-right-item-price-span.old{		
		margin: 0 10px;
	}

	.card-all-right-item-write{
		margin-bottom: 24px;
	}
	.card-all-right-item-write-link{		
		border-radius: 30px;
		padding: 12px 0;
		margin-bottom: 10px;
	}
	.card-all-right-item-write-link-icon{		
		width: 18px;
		height: 18px;		
		background-size: 300px;		
		margin-right: 7px;
	}
	.card-all-right-item-write-link-icon.wb{
		background-position: -50px -35px;
	}
	.card-all-right-item-write-link-icon.wp{
		background-position: -70px -33px;
	}	
	.card-all-right-item-submit-text{
		margin-bottom: 5px;		
	}

	
	footer{
		padding: 59px 0;
	}
	.footer-left{
		width: 100%;
	}
	.footer-left-logo-link-text{
		margin-bottom: 3px;
	}
	.footer-left-info{
		font-size: 15px;
		line-height: 24px;
		margin-top: 62px;
	}
	.footer-right{
		width: 100%;
		margin-top: 20px;
	}
	.footer-right-item{
		width: 47%;
	}
	.footer-right-item-head{
		font-size: 20px;
		line-height: 25px;
		margin-bottom: 10px;
	}
	.footer-right-item-link{
		margin-bottom: 5px;
		font-size: 15px;
		line-height: 24px;
	}

	.not-working-content{
		width: 65%;				
		padding: 30px;		
	}
	.not-working-info{
		margin-bottom: 15px;
		font-size: 14px;
	}
	.not-working-form-input{
		border-radius: 3px;	    
	    line-height: 24px;
	    padding: 9px 44px 9px 25px;		   
	    width: 100%; 	    
	    margin-bottom: 15px;  	    
	}
	.not-working-form-submit{		
	    border-radius: 3px;	       
	    padding: 9px 0;	    
	}	
	.not-working-close{		
		width: 20px;
		height: 20px;
		top: -25px;
		right: -25px;		
		background-size: 237px;
	    background-position: -2px -131px;	    
	}
	.modal-input-content,
	.modal-reg-content{		
		padding: 30px 15px;
		border-radius: 30px;		
		width: 98%;		
	}
	.modal-input-close,
	.modal-reg-close{
		width: 30px;
		height: 30px;		
		top: -35px;
		right: 0px;		
		background-position: -5px -229px;
	    background-size: 409px;	    
	}
	.modal-reg-form-field-check-text{
		width: 85%;
	}
	.modal-input-form-field,
	.modal-reg-form-field{
		margin-bottom: 8px;
	}
	.modal-input-form-field-input,
	.modal-reg-form-field-input{	    
	    line-height: 24px;
	    padding: 9px 44px 9px 25px;	   
	}	
	.modal-input-form-submit-button,
	.modal-reg-form-submit-button{		
		padding: 10px 30px;		
		border-radius: 30px;	
		width: 100%;
		margin-top: 6px;	
	}		

	.modal-date-content {
	    width: 100%;
	    padding: 30px;
	}
	.modal-date-close {	    
	    right: 0px;	 
	    top: -50px;	   
	}
	.modal-date-head {	   
	    font-size: 22px;
	    margin-bottom: 15px;
	}
	.modal-date-label {
	    width: 100%;
	    display: block;
	}
	.modal-date-input{
		display: block;
		width: 100%;
		box-sizing: border-box;
	}
	.modal-date-calendar {	   
	    top: 12px;	   
	}
	.modal-date-socials-link {
	    width: 100%;
	    margin-bottom: 10px;
	}
	.modal-date-socials-link:last-child {	    
	    margin-bottom: 0px;
	}
	.modal-date-submit {
	    width: 100%;
	}
	.modal-date-wrap{
		margin-bottom: 20px;
	}		
}


