@import url('./../css/fonts.css');
*{
	padding: 0;
	margin: 0;
	font-family: "roboto-regular";
	font-size: 14px;
	list-style-type: none;
	text-decoration: none;
	outline: none;
	font-style: normal;
	font-weight: normal;
}
.head-left{	
	position: relative;
	margin-bottom: 40px;
}
.head-left:before{
	content: "";
    position: absolute;
    width: 82px;
    height: 19px;
    bottom: -26px;
    left: 0;   
    background-size: 327px;
    background-repeat: no-repeat;
    background-position: -182px -3px;
}
.head-left-h{
	font-family: forum;
	font-size: 40px;
	line-height: 44px;
	color: #424443;
	display: inline-block;
}
.head-left-h.min-font{
	font-size: 30px;
	line-height: 33px;
}
.head-center{
	text-align: center;
	position: relative;
	margin-bottom: 40px;
}
.head-center-h{
	font-family: forum;
	font-size: 40px;
	line-height: 44px;
	color: #424443;
	display: inline-block;	
}
.head-center:before{
	content: "";
    position: absolute;
    width: 82px;
    height: 19px;
    bottom: -26px;
    left: calc(46.5% - 82px / 2);    
    background-size: 327px;
    background-repeat: no-repeat;
    background-position: -177px -30px;
}
.head-center:after{
	content: "";
    position: absolute;
    width: 82px;
    height: 19px;
    bottom: -26px;
    right: calc(46.5% - 82px / 2);    
    background-size: 327px;
    background-repeat: no-repeat;
    background-position: -182px -3px;
}
.container{
	width: 1170px;
	margin: 0 auto;
}
header{
	padding: 19px 0;
	border-bottom: 1px solid #dedfde;
}
.header-content{
	display: flex;
	justify-content: space-between;
	align-self: center;
}
.header-logo{
	width: 20.8%;
}
.header-logo-link-text{
	display: block;
	color: #A5A8A6;
	text-align: center;
	margin-bottom: 4px;
	letter-spacing: 1px;
}
.header-logo-link-img{
	width: 100%;
}
.header-logo-link-city-wrap{
	position: relative;
}
.header-logo-link-city{
	border: 0;
	color: #A5A8A6;
	display: block;
	width: 100%;
	text-align: center;
	margin-top: 4px;
	letter-spacing: 1px;
	position: relative;
}
.header-logo-link-city-icon{
	width: 14px;
    height: 7px;
    position: absolute;
    top: 5px;
    right: 0;    
    background-size: 349px;
    background-repeat: no-repeat;
    background-position: -27px -5px;
}
.header-auth{
	display: flex;
	align-items: center;
}
.header-auth-link{
	border: 1px solid #ABC2B0;
	border-radius: 30px;
	padding: 9px 28px;
	font-size: 16px;
	transition: all 0.2s ease-out;
}
.header-auth-link.input{
	margin-right: 10px;
	color: #ABC2B0;
}
.header-auth-link.input:hover{
	background: #ABC2B0;
	color: #fff;
	transition: all 0.2s ease-out;
}
.header-auth-link.reg{
	color: #fff;
	background: #ABC2B0;
}
.header-auth-link.reg:hover{
	transition: all 0.2s ease-out;
	color: #ABC2B0;
	background: #fff;
}
.nav-list{
	display: flex;
	justify-content: space-between;
}
.nav-list-item{
	display: block;
	padding: 21px 0;
	cursor: pointer;
}
.nav-list-item-link:before{
	content: "";
	position: absolute;
	width: 100%;
	height: 3px;
	bottom: 0;
	z-index: -1;
	background: #ABC2B0;
	opacity: 0;
	transition: all 0.2s ease;
}
.nav-list-item:hover > .nav-list-item-link:before{
	transition: all 0.2s ease;
	opacity: 1;
}
.nav-list-item.active > .nav-list-item-link:before{
	transition: all 0.2s ease;
	opacity: 1;
}
.nav-list-item-link{
	color: #5B5F5C;
	font-size: 18px;
	position: relative;
	transition: all 0.2s ease;
}
.nav-list-item-link.submenu{
	position: relative;
}
.nav-list-item-link.submenu-icon:after{
	content: "";
	position: absolute;
	width: 14px;
    height: 7px;
	top: 8px;
    right: -20px;	
    background-size: 349px;
    background-repeat: no-repeat;
    background-position: -27px -5px;
}
.nav-list-item-submenu{
	opacity: 0;
	max-height: 0px;
	transition: all 0.2s ease;
	position: absolute;
	overflow: hidden;
	background: #fff;	
	padding: 0px;
	border-radius: 0px 0px 20px 20px;
	margin-top: 7px;
	z-index: 8;
}
.nav-list-item.submenu:hover > .nav-list-item-submenu{
	opacity: 1;
	transition: all 0.2s ease;
	max-height: 300px;
	padding: 15px;
}
.nav-list-item-submenu-list-item{
	border-bottom: 1px solid #efefef;
}
.nav-list-item-submenu-list-item:last-child{
	border-bottom: 0px solid #efefef;
}
.nav-list-item-submenu-list-item-link{
	display: block;
	color: #B0B0B0;
	padding: 8px 20px 8px 12px;
	font-size: 15px;
	transition: all 0.2s ease-out;
}
.nav-list-item-submenu-list-item-link:hover{
	color: #5B5F5C;
	background: #FAF6F4;
	transition: all 0.2s ease-out;
}

#offer{
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
	overflow: hidden;
}
#offer:before{
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
}
.offer-content{
	padding: 111px 0 209px;
	text-align: center;
	position: relative;
	z-index: 3;
}
.offer-h{
	font-family: "forum";
	font-size: 43px;
	line-height: 45px;
	text-align: center;
	color: #fff;
	margin-bottom: 20px;
}
.offer-select{
	border: 1px solid #e7e7e7;
    box-sizing: border-box;
    border-radius: 30px;
    color: #b0b0b0;
    line-height: 24px;
    padding: 9px 76px 9px 10px;
    cursor: pointer;
    margin-bottom: 18px;
}
.offer-waves{
	position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 380px;
    background-position: center bottom;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 2;
}

#best{
	padding: 54px 0;
}
.best-content{
	padding-top: 8px;
}
.best-form-search{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.best-form-search-fixed{
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background-color: #fff;
    padding: 10px 20px;
    display: none;
    box-shadow: 0px 1px 3px #4f4f4f;
    justify-content: space-between;
    box-sizing: border-box;
    flex-wrap: wrap;
}
.best-form-search-select,
.best-form-search-input{
	border: 1px solid #e7e7e7;
    box-sizing: border-box;
    border-radius: 30px;
    color: #b0b0b0;
    line-height: 24px;
    padding: 14px 16px;
    cursor: pointer;  
    width: 21.9%;  
}
.best-form-search-input{

}
.best-form-search-submit{
	background: #ABC2B0;
	border-radius: 30px;
	border: 0;
	padding: 16px 33px;
	color: #fff;
	cursor: pointer;
	transition: all 0.2s ease-out;
}
.best-form-search-submit:hover{
	background: #96b49d;
	transition: all 0.2s ease-out;
}

.best-content-wrap{
	margin-top: 60px;
	margin-bottom: 30px;
	display: flex;
	flex-wrap: wrap;
}

.best-content-alternative-item{
	background: #FAF6F4;
	border-radius: 30px;
	padding: 16px 16px 38px 16px;
	box-sizing: border-box;
	width: 31.7%;
	text-align: center;
	margin-bottom: 20px;
	margin-right: 19px;
}
.best-content-alternative-item-avatar{
	position: relative;
	margin-bottom: 20px;
}
.best-content-alternative-item-avatar-img{
	width: 100%;
	display: block;
	border-radius: 30px;
}
.best-content-alternative-item-avata-pro{
	position: absolute;
	padding: 7px 15px;
	border-radius: 30px;
	background: #fff;	
	text-transform: uppercase;
	color: #8F7A99;
	top: 10px;
    left: 10px;
}
.best-content-alternative-item-avata-like{
	position: absolute;
	background: #8F7A99;
	border-radius: 30px;
	padding: 11px 11px;
	top: 10px;
	right: 10px;
	cursor: pointer;
}
.best-content-alternative-item-avata-like-span{
	font-size: 0px;
	width: 18px;
	height: 18px;
	display: block;
	background-image: url("../img/icons.webp");
	background-size: 300px;
	background-repeat: no-repeat;
	background-position: -134px -240px;
}
.best-content-alternative-item-avata-like-span.active{
	background-position: -156px -240px;
}
.best-content-alternative-item-name{
	font-size: 35px;
	line-height: 28px;
	font-family: "Forum";
	color: #424443;
	text-align: center;
	margin-bottom: 12px;
}
.best-content-alternative-item-text{
	font-size: 16px;
	color: #B0B0B0;
	text-align: center;
	margin-bottom: 19px;
}
.best-content-alternative-item-phone{
	font-size: 18px;
	font-family: "Forum";
	color: #424443;
	display: inline-block;
	position: relative;
	margin-bottom: 13px;
}
.best-content-alternative-item-phone:before{
	content: "";
    position: absolute;
    width: 17px;
    height: 17px;
    top: 1px;
    left: -19px;
    background-image: url(../img/icons.webp);
    background-repeat: no-repeat;
    background-size: 272px;
    background-position: -80px -153px;
}
.best-content-alternative-item-socials{
	display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.best-content-alternative-item-socials-icon{
	display: block;
    width: 43px;
    height: 43px;
    background: #ABC2B0;
    border-radius: 50%;
    font-size: 0;
    transition: all .2s ease-out;
    position: relative;
    margin-right: 7px;
}
.best-content-alternative-item-socials-icon:hover{
	background: #96b49d;
    transition: all .2s ease-out;
}
.best-content-alternative-item-socials-icon.inst:before{
	content: "";
    position: absolute;
    width: 17px;
    background-image: url("../img/icons.webp");
    height: 17px;
    top: calc(50% - 17px / 2);
    left: calc(50% - 17px / 2);
    background-size: 326px;
    background-position: -42px -187px;
    background-repeat: no-repeat;
}
.best-content-alternative-item-socials-icon.vk:before{
	content: "";
    position: absolute;
    background-image: url("../img/icons.webp");
    width: 23px;
    height: 13px;
    top: calc(50% - 13px / 2);
    left: calc(50% - 23px / 2);
    background-size: 326px;
    background-position: -67px -188px;
    background-repeat: no-repeat;
}
.best-content-alternative-item-price-span{
	font-size: 18px;
	font-family: "Forum";
}
.best-content-alternative-item-price-span.old{
	text-decoration-line: line-through;
	color: #ABC2B0;
	margin: 0 10px;
}

.pagination{
	display: flex;
	justify-content: center;
	align-items: center;
}

.pagination-arrow{
	width: 40px;
	height: 40px;
	border: 1px solid #EDE4DE;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #EDE4DE;
	transition: all 0.2s ease-out;
}
.pagination-arrow:hover{
	color: #ABC2B0;
	border: 1px solid #ABC2B0;
	transition: all 0.2s ease-out;
}
.pagination-arrow.left{
	margin-right: 10px;
}
.pagination-arrow.right{
	margin-left: 10px;
}
.pagination-wrap{

}
.pagination-link{
	font-family: "forum";
	font-size: 18px;
	line-height: 21px;
	color: #676868;
	margin: 0px 10px;
	position: relative;
	transition: all 0.2s ease-out;
}
.pagination-link:before{
	content: "";
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 0;
	height: 3px;
	background: #ABC2B0;
	transition: all 0.2s ease-out;
	opacity: 0;
}
.pagination-link:hover.pagination-link:before{
	opacity: 1;
	transition: all 0.2s ease-out;
}
.pagination-link.active:before{
	content: "";
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 0;
	height: 3px;
	background: #ABC2B0;
	opacity: 1;
}
.pagination-points{
	font-family: "forum";
	font-size: 18px;
	line-height: 21px;
	color: #676868;
	margin: 0px 10px;
}

#blocks{
	position: relative;	
	padding-bottom: 80px;
}
.blocks-content{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.blocks-item{	
	border-radius: 30px;
	padding: 10px;
	box-sizing: border-box;
	align-self: flex-start;
	margin-bottom: 20px;
}
.blocks-item.second{
	background: #ABC2B0;
}
.blocks-item.big{
	width: 100%;
}
.blocks-item-wrap{
	border-radius: 30px;	
	padding: 42px 35px 42px 35px;
	background-position: center bottom;
	background-size: 100%;
	background-repeat: no-repeat;
	text-align: center;
}
.blocks-item.second .blocks-item-wrap{		
	border: 2px solid #C2D3C6;
}
.blocks-item-head{
	font-family: Forum;	
	font-size: 32px;
	line-height: 32px;
	text-align: center;
	color: #746B64;
	margin-top: 9px;
	margin-bottom: 23px;
}
.blocks-item.second .blocks-item-head{
	color: #536056;
}
.blocks-item.second .blocks-item-p{
	color: #fff;
	font-size: 16px;
	line-height: 27px;
	text-align: center;
	margin-bottom: 30px;
}
.blocks-item-p-span{
	font-size: 18px;
	line-height: 27px;
	font-weight: bold;
	font-style: italic; 
}
.blocks-item-link-wrap{
	text-align: center;
	margin-top: 16px;
}
.blocks-item.second .blocks-item-link{
	display: inline-block;
	margin: 0 auto;	
	padding: 10px 33px;	
	border-radius: 30px;
	color: #fff;	
	transition: all 0.2s ease-out;
	background: #91A795;
	box-shadow: 6px 5px 20px rgba(116, 123, 106, 0.25);
}
.blocks-item.second .blocks-item-link:hover{
	box-shadow: 0px 0px 0px #D6CAC2;
	transition: all 0.2s ease-out;
	background: #809a85;
}

#socials{

}
.socials-container{
	padding: 31px 0;
	border-top: 2px solid #e6e6e6;
	border-bottom: 2px solid #e6e6e6;
}
.socials-content{
	display: flex;
	justify-content: center;
}
.socials-link{
	background: #F8F3F0;
	border-radius: 50%;
	padding: 15px;
	margin-right: 8px;
	transition: all 0.2s ease;
}
.socials-link:hover{
	background: #e8e3e1;
	transition: all 0.2s ease;
}
.socials-link-icon{
	display: block;
	width: 33px;
	height: 33px;	
	background-repeat: no-repeat;
	background-size: 307px;
}
.socials-link-icon.fb{
	background-position: 6px 0px;
}
.socials-link-icon.ig{
	background-position: -38px -1px;
}
.socials-link-icon.p{
	background-position: -68px 0px;
}
.socials-link-icon.vk{
	background-position: -105px 4px;
}

footer{
	padding: 59px 0;
}
.footer-content{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.footer-left{
	width: 21.4%;
}
.footer-left-logo{

}
.footer-left-logo-link{

}
.footer-left-logo-link-text{
	color: #A5A8A6;
	text-align: center;
	display: block;
	width: 100%;
	margin-bottom: 3px;
}
.footer-left-logo-link-img{
	width: 100%;
}
.footer-left-logo-link-city-wrap{
	color: #A5A8A6;
	text-align: center;
}
.footer-left-info{
	font-size: 15px;
	line-height: 24px;
	color: #B0B0B0;
	display: block;
	margin-top: 62px;
}
.footer-right{
	width: 70%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.footer-right-item{
	width: 23%;
}
.footer-right-item-head{
	font-size: 20px;
	line-height: 25px;
	font-family: "forum";
	color: #424443;
	margin-bottom: 10px;
}
.footer-right-item-link{
	display: block;
	color: #B0B0B0;
	margin-bottom: 5px;
	font-size: 15px;
	line-height: 24px;
	transition: all 0.2s ease;
}
.footer-right-item-link:hover{
	transition: all 0.2s ease;
	color: #000;
}

@media (max-width: 1190px) and (min-width:900px){
	.head-left{
		margin-bottom: 40px;
	}
	.head-left:before{		
	    width: 82px;
	    height: 19px;
	    bottom: -26px;
	    background-size: 327px;
	    background-position: -182px -3px;
	}
	.head-left-h{		
		font-size: 40px;
		line-height: 44px;
	}
	.head-left-h.min-font{
		font-size: 30px;
		line-height: 33px;
	}
	.head-center{
		margin-bottom: 40px;
	}
	.head-center-h{
		font-size: 40px;
		line-height: 44px;
	}
	.head-center:before{		
	    width: 82px;
	    height: 19px;
	    bottom: -26px;
	    left: calc(46.5% - 82px / 2);
	    background-size: 327px;
	    background-position: -177px -30px;
	}
	.head-center:after{		
	    width: 82px;
	    height: 19px;
	    bottom: -26px;
	    right: calc(46.5% - 82px / 2);
	    background-size: 327px;
	    background-position: -182px -3px;
	}
	.container{
		width: 900px;
	}
	header{
		padding: 19px 0;
	}	
	.header-logo{
		width: 24.8%;
	}
	.header-logo-link-text{
		margin-bottom: 4px;
		letter-spacing: 1px;
	}
	.header-logo-link-img{
		width: 100%;
	}	
	.header-logo-link-city{
		margin-top: 4px;
		letter-spacing: 1px;
	}
	.header-logo-link-city-icon{
		width: 14px;
	    height: 7px;
	    top: 5px;
	    background-size: 349px;
	    background-position: -27px -5px;
	}	
	.header-auth-link{
		border-radius: 30px;
		padding: 9px 28px;
		font-size: 16px;
	}
	.header-auth-link.input{
		margin-right: 10px;
	}	
	.nav-list-item{
		padding: 21px 0;
	}
	.nav-list-item-link:before{
		width: 100%;
		height: 3px;
	}	
	.nav-list-item-link{
		font-size: 18px;
	}	
	.nav-list-item-link.submenu-icon:after{		
		width: 14px;
	    height: 7px;
		top: 8px;
	    right: -20px;
	    background-size: 349px;
	    background-position: -27px -5px;
	}
	.nav-list-item-submenu{			
		border-radius: 0px 0px 20px 20px;
		margin-top: 7px;
		z-index: 8;
	}
	.nav-list-item.submenu:hover > .nav-list-item-submenu{		
		max-height: 300px;
		padding: 15px;
	}	
	.nav-list-item-submenu-list-item-link{
		padding: 8px 20px 8px 12px;
		font-size: 15px;
	}
	
	.offer-content{
		padding: 111px 0 209px;		
		z-index: 3;
	}
	.offer-h{		
		font-size: 43px;
		line-height: 45px;	
		margin-bottom: 20px;
	}
	.offer-select{		   
	    border-radius: 30px;	   
	    line-height: 24px;
	    padding: 9px 76px 9px 10px;	    
	    margin-bottom: 18px;
	}
	.offer-waves{		    
	    bottom: -1px;
	    width: 100%;
	    height: 380px;	    
	    z-index: 2;
	}
	#best{
		padding: 54px 0;
	}
	.best-content{
		padding-top: 8px;
	}	
	.best-form-search-select,
	.best-form-search-input{		   
	    border-radius: 30px;	    
	    line-height: 24px;
	    padding: 14px 16px;	    
	    width: 21.9%;  
	}	
	.best-form-search-submit{		
		border-radius: 30px;		
		padding: 16px 33px;		
	}
	.best-content-wrap{
		margin-top: 60px;
		margin-bottom: 30px;
	}

	.best-content-alternative-item{		
		border-radius: 30px;
		padding: 16px 16px 38px 16px;		
		width: 47.7%;		
		margin-bottom: 20px;
		margin-right: 19px;
	}
	.best-content-alternative-item-avatar{		
		margin-bottom: 20px;
	}
	.best-content-alternative-item-avatar-img{		
		border-radius: 30px;
	}
	.best-content-alternative-item-avata-pro{		
		padding: 7px 15px;
		border-radius: 30px;		
		top: 10px;
	    left: 10px;
	}
	.best-content-alternative-item-avata-like{		
		border-radius: 30px;
		padding: 11px 11px;
		top: 10px;
		right: 10px;		
	}
	.best-content-alternative-item-avata-like-span{		
		width: 18px;
		height: 18px;		
		background-size: 300px;		
		background-position: -134px -240px;
	}
	.best-content-alternative-item-avata-like-span.active{
		background-position: -156px -240px;
	}
	.best-content-alternative-item-name{
		font-size: 35px;
		line-height: 28px;			
		margin-bottom: 12px;
	}
	.best-content-alternative-item-text{
		font-size: 16px;
		margin-bottom: 19px;
	}
	.best-content-alternative-item-phone{
		font-size: 18px;		
		margin-bottom: 13px;
	}
	.best-content-alternative-item-phone:before{		
	    width: 17px;
	    height: 17px;
	    top: 1px;
	    left: -19px;	    
	    background-size: 272px;
	    background-position: -80px -153px;
	}
	.best-content-alternative-item-socials{		
	    margin-bottom: 20px;
	}
	.best-content-alternative-item-socials-icon{		
	    width: 43px;
	    height: 43px;	    
	    border-radius: 50%;		    
	    margin-right: 7px;
	}	
	.best-content-alternative-item-socials-icon.inst:before{		
	    width: 17px;	    
	    height: 17px;
	    top: calc(50% - 17px / 2);
	    left: calc(50% - 17px / 2);
	    background-size: 326px;
	    background-position: -42px -187px;	    
	}
	.best-content-alternative-item-socials-icon.vk:before{		
	    width: 23px;
	    height: 13px;
	    top: calc(50% - 13px / 2);
	    left: calc(50% - 23px / 2);
	    background-size: 326px;
	    background-position: -67px -188px;	    
	}
	.best-content-alternative-item-price-span{
		font-size: 18px;		
	}
	.best-content-alternative-item-price-span.old{		
		margin: 0 10px;
	}
		

	.pagination-arrow{
		width: 40px;
		height: 40px;	
	}	
	.pagination-arrow.left{
		margin-right: 10px;
	}
	.pagination-arrow.right{
		margin-left: 10px;
	}	
	.pagination-link{		
		font-size: 18px;
		line-height: 21px;		
		margin: 0px 10px;		
	}
	.pagination-link:before{		
		width: 100%;		
		height: 3px;		
	}	
	.pagination-link.active:before{		
		width: 100%;		
		height: 3px;		
	}
	.pagination-points{		
		font-size: 18px;
		line-height: 21px;		
		margin: 0px 10px;
	}

	#blocks{		
		padding-bottom: 80px;
	}	
	.blocks-item{	
		border-radius: 30px;
		padding: 10px;		
		margin-bottom: 20px;
	}	
	.blocks-item.big{
		width: 100%;
	}
	.blocks-item-wrap{
		border-radius: 30px;	
		padding: 42px 35px 42px 35px;		
	}	
	.blocks-item-head{		
		font-size: 32px;
		line-height: 32px;		
		margin-top: 9px;
		margin-bottom: 23px;
	}	
	.blocks-item.second .blocks-item-p{		
		font-size: 16px;
		line-height: 27px;		
		margin-bottom: 30px;
	}
	.blocks-item-p-span{
		font-size: 18px;
		line-height: 27px;		
	}
	.blocks-item-link-wrap{		
		margin-top: 16px;
	}
	.blocks-item.second .blocks-item-link{		
		padding: 10px 33px;	
		border-radius: 30px;		
		box-shadow: 6px 5px 20px rgba(116, 123, 106, 0.25);
	}	
	
	.socials-container{
		padding: 31px 0;
		border-top: 2px solid #e6e6e6;
		border-bottom: 2px solid #e6e6e6;
	}
	.socials-link{		
		border-radius: 50%;
		padding: 15px;
		margin-right: 8px;
	}
	.socials-link-icon{
		width: 33px;
		height: 33px;
		background-size: 307px;
	}
	.socials-link-icon.fb{
		background-position: 6px 0px;
	}
	.socials-link-icon.ig{
		background-position: -38px -1px;
	}
	.socials-link-icon.p{
		background-position: -68px 0px;
	}
	.socials-link-icon.vk{
		background-position: -105px 4px;
	}
	footer{
		padding: 59px 0;
	}
	.footer-left{
		width: 26.4%;
	}
	.footer-left-logo-link-text{
		margin-bottom: 3px;
	}
	.footer-left-info{
		font-size: 15px;
		line-height: 24px;
		margin-top: 62px;
	}
	.footer-right{
		width: 70%;
	}
	.footer-right-item{
		width: 23%;
	}
	.footer-right-item-head{
		font-size: 20px;
		line-height: 25px;
		margin-bottom: 10px;
	}
	.footer-right-item-link{
		margin-bottom: 5px;
		font-size: 15px;
		line-height: 24px;
	}
}
@media (max-width: 920px) and (min-width:640px){	

	.head-left{
		text-align: center;
		margin-bottom: 40px;
	}
	.head-left:before{		
	    content: "";
	    position: absolute;
	    width: 82px;
	    height: 19px;
	    bottom: -26px;
	    left: calc(46.5% - 82px / 2);    
	    background-size: 327px;
	    background-repeat: no-repeat;
	    background-position: -177px -30px;
	}
	.head-left:after{
		content: "";
	    position: absolute;
	    width: 82px;
	    height: 19px;
	    bottom: -26px;
	    right: calc(46.5% - 82px / 2);    
	    background-size: 327px;
	    background-repeat: no-repeat;
	    background-position: -182px -3px;
	}
	.head-left-h{		
		font-size: 40px;
		line-height: 44px;
		display: inline-block;	
	}
	.head-left-h.min-font{
		font-size: 30px;
		line-height: 33px;
	}
	.head-center{
		margin-bottom: 40px;
	}
	.head-center-h{
		font-size: 40px;
		line-height: 44px;
	}
	.head-center:before{		
	    width: 82px;
	    height: 19px;
	    bottom: -26px;
	    left: calc(46.5% - 82px / 2);
	    background-size: 327px;
	    background-position: -177px -30px;
	}
	.head-center:after{		
	    width: 82px;
	    height: 19px;
	    bottom: -26px;
	    right: calc(46.5% - 82px / 2);
	    background-size: 327px;
	    background-position: -182px -3px;
	}
	.container{
		width: 640px;
	}
	header{
		padding: 19px 0;
	}	
	.header-logo{
		width: 36.8%;
	}
	.header-logo-link-text{
		margin-bottom: 4px;
		letter-spacing: 1px;
	}
	.header-logo-link-img{
		width: 100%;
	}	
	.header-logo-link-city{
		margin-top: 4px;
		letter-spacing: 1px;
	}
	.header-logo-link-city-icon{
		width: 14px;
	    height: 7px;
	    top: 5px;
	    background-size: 349px;
	    background-position: -27px -5px;
	}	
	.header-auth-link{
		border-radius: 30px;
    	padding: 8px 28px;
    	font-size: 14px;
	}
	.header-auth-link.input{
		margin-right: 10px;
	}	
	.nav-list-item{
		padding: 13px 0;
	}
	.nav-list-item-link:before{
		width: 100%;
		height: 3px;
	}	
	.nav-list-item-link{
		font-size: 14px;
	}	
	.nav-list-item-link.submenu-icon:after{		
		width: 14px;
	    height: 7px;
	    top: 6px;
	    right: -16px;
	    background-size: 349px;
	    background-position: -27px -5px;
	}
	.nav-list-item-submenu{			
		border-radius: 0px 0px 20px 20px;
		margin-top: 7px;
		z-index: 8;
	}
	.nav-list-item.submenu:hover > .nav-list-item-submenu{		
		max-height: 300px;
		padding: 15px;
	}	
	.nav-list-item-submenu-list-item-link{
		padding: 8px 20px 8px 12px;
		font-size: 13px;
	}

	.offer-content{
		padding: 76px 0 149px;	
		z-index: 3;
	}
	.offer-h{		
		font-size: 43px;
		line-height: 45px;	
		margin-bottom: 20px;
	}
	.offer-select{		   
	    border-radius: 30px;	   
	    line-height: 24px;
	    padding: 9px 76px 9px 10px;	    
	    margin-bottom: 18px;
	}
	.offer-waves{		    
	    bottom: -1px;
	    width: 100%;
	    height: 380px;	    
	    z-index: 2;
	}
	#best{
		padding: 18px 0;
	}
	.best-content{
		padding-top: 8px;
	}	
	.best-form-search-select,
	.best-form-search-input{		   
	    border-radius: 30px;	    
	    line-height: 24px;
	    padding: 14px 16px;	    
	    width: 48.9%;
    	margin-bottom: 14px; 
	}	
	.best-form-search-submit{		
		border-radius: 30px;		
		padding: 16px 33px;	
		width: 100%;
		box-sizing: border-box;	
	}
	.best-content-wrap{
		margin-top: 60px;
		margin-bottom: 30px;
	}

	.best-content-alternative-item{		
		border-radius: 30px;
		padding: 16px 16px 38px 16px;		
		width: 46.7%;		
		margin-bottom: 20px;
		margin-right: 19px;
	}
	.best-content-alternative-item-avatar{		
		margin-bottom: 20px;
	}
	.best-content-alternative-item-avatar-img{		
		border-radius: 30px;
	}
	.best-content-alternative-item-avata-pro{		
		padding: 7px 15px;
		border-radius: 30px;		
		top: 10px;
	    left: 10px;
	}
	.best-content-alternative-item-avata-like{		
		border-radius: 30px;
		padding: 11px 11px;
		top: 10px;
		right: 10px;		
	}
	.best-content-alternative-item-avata-like-span{		
		width: 18px;
		height: 18px;		
		background-size: 300px;		
		background-position: -134px -240px;
	}
	.best-content-alternative-item-avata-like-span.active{
		background-position: -156px -240px;
	}
	.best-content-alternative-item-name{
		font-size: 27px;
    	line-height: 25px;			
		margin-bottom: 12px;
	}
	.best-content-alternative-item-text{
		font-size: 13px;
		margin-bottom: 19px;
	}
	.best-content-alternative-item-phone{
		font-size: 18px;		
		margin-bottom: 13px;
	}
	.best-content-alternative-item-phone:before{		
	    width: 17px;
	    height: 17px;
	    top: 1px;
	    left: -19px;	    
	    background-size: 272px;
	    background-position: -80px -153px;
	}
	.best-content-alternative-item-socials{		
	    margin-bottom: 20px;
	}
	.best-content-alternative-item-socials-icon{		
	    width: 43px;
	    height: 43px;	    
	    border-radius: 50%;		    
	    margin-right: 7px;
	}	
	.best-content-alternative-item-socials-icon.inst:before{		
	    width: 17px;	    
	    height: 17px;
	    top: calc(50% - 17px / 2);
	    left: calc(50% - 17px / 2);
	    background-size: 326px;
	    background-position: -42px -187px;	    
	}
	.best-content-alternative-item-socials-icon.vk:before{		
	    width: 23px;
	    height: 13px;
	    top: calc(50% - 13px / 2);
	    left: calc(50% - 23px / 2);
	    background-size: 326px;
	    background-position: -67px -188px;	    
	}
	.best-content-alternative-item-price-span{
		font-size: 18px;		
	}
	.best-content-alternative-item-price-span.old{		
		margin: 0 10px;
	}
		

	.pagination-arrow{
		width: 40px;
		height: 40px;	
	}	
	.pagination-arrow.left{
		margin-right: 10px;
	}
	.pagination-arrow.right{
		margin-left: 10px;
	}	
	.pagination-link{		
		font-size: 18px;
		line-height: 21px;		
		margin: 0px 10px;		
	}
	.pagination-link:before{		
		width: 100%;		
		height: 3px;		
	}	
	.pagination-link.active:before{		
		width: 100%;		
		height: 3px;		
	}
	.pagination-points{		
		font-size: 18px;
		line-height: 21px;		
		margin: 0px 10px;
	}

	#blocks{		
		padding-bottom: 40px;
		padding-top: 40px;
	}	
	.blocks-item{	
		border-radius: 30px;
		padding: 10px;		
		margin-bottom: 20px;
	}	
	.blocks-item.big{
		width: 100%;
	}
	.blocks-item-wrap{
		border-radius: 30px;	
		padding: 42px 35px 42px 35px;		
	}	
	.blocks-item-head{		
		font-size: 32px;
		line-height: 32px;		
		margin-top: 9px;
		margin-bottom: 23px;
	}	
	.blocks-item.second .blocks-item-p{		
		font-size: 16px;
		line-height: 27px;		
		margin-bottom: 30px;
	}
	.blocks-item-p-span{
		font-size: 18px;
		line-height: 27px;		
	}
	.blocks-item-link-wrap{		
		margin-top: 16px;
	}
	.blocks-item.second .blocks-item-link{		
		padding: 10px 33px;	
		border-radius: 30px;		
		box-shadow: 6px 5px 20px rgba(116, 123, 106, 0.25);
	}	
	
	.socials-container{
		padding: 31px 0;
		border-top: 2px solid #e6e6e6;
		border-bottom: 2px solid #e6e6e6;
	}
	.socials-link{		
		border-radius: 50%;
		padding: 15px;
		margin-right: 8px;
	}
	.socials-link-icon{
		width: 33px;
		height: 33px;
		background-size: 307px;
	}
	.socials-link-icon.fb{
		background-position: 6px 0px;
	}
	.socials-link-icon.ig{
		background-position: -38px -1px;
	}
	.socials-link-icon.p{
		background-position: -68px 0px;
	}
	.socials-link-icon.vk{
		background-position: -105px 4px;
	}
	footer{
		padding: 59px 0;
	}
	.footer-left{
		width: 34.4%;
	}
	.footer-left-logo-link-text{
		margin-bottom: 3px;
	}
	.footer-left-info{
		font-size: 15px;
		line-height: 24px;
		margin-top: 62px;
	}
	.footer-right{
		width: 59%;
	}
	.footer-right-item{
		width: 47%;
	}
	.footer-right-item-head{
		font-size: 20px;
		line-height: 25px;
		margin-bottom: 10px;
	}
	.footer-right-item-link{
		margin-bottom: 5px;
		font-size: 15px;
		line-height: 24px;
	}
}
@media (max-width: 660px) and (min-width:490px){
	*{
		font-size: 12px;
	}
	.head-left{
		text-align: center;
		margin-bottom: 40px;
	}
	.head-left:before{		
	    content: "";
	    position: absolute;
	    width: 82px;
	    height: 19px;
	    bottom: -26px;
	    left: calc(46.5% - 82px / 2);    
	    background-size: 327px;
	    background-repeat: no-repeat;
	    background-position: -177px -30px;
	}
	.head-left:after{
		content: "";
	    position: absolute;
	    width: 82px;
	    height: 19px;
	    bottom: -26px;
	    right: calc(46.5% - 82px / 2);    
	    background-size: 327px;
	    background-repeat: no-repeat;
	    background-position: -182px -3px;
	}
	.head-left-h{		
		font-size: 30px;
    	line-height: 34px;
	}
	.head-left-h.min-font{
		font-size: 30px;
		line-height: 33px;
	}
	.head-center{
		margin-bottom: 40px;
	}
	.head-center-h{
		font-size: 30px;
    	line-height: 34px;
	}
	.head-center:before{		
	    width: 82px;
	    height: 19px;
	    bottom: -26px;
	    left: calc(46.5% - 82px / 2);
	    background-size: 327px;
	    background-position: -177px -30px;
	}
	.head-center:after{		
	    width: 82px;
	    height: 19px;
	    bottom: -26px;
	    right: calc(46.5% - 82px / 2);
	    background-size: 327px;
	    background-position: -182px -3px;
	}
	.container{
		width: 490px;
	}
	header{
		padding: 19px 0;
	}	
	.header-logo{
		width: 40.8%;
	}
	.header-logo-link-text{
		margin-bottom: 4px;
		letter-spacing: 1px;
	}
	.header-logo-link-img{
		width: 100%;
	}	
	.header-logo-link-city{
		margin-top: 4px;
		letter-spacing: 1px;
	}
	.header-logo-link-city-icon{
		width: 14px;
	    height: 7px;
	    top: 5px;
	    background-size: 349px;
	    background-position: -27px -5px;
	}	
	.header-auth-link{
		border-radius: 30px;
    	padding: 8px 28px;
    	font-size: 14px;
	}
	.header-auth-link.input{
		margin-right: 10px;
	}
	.m-menu{
		width: 25px;
		height: 25px;
		margin: 7px 0;		
		background-size: 354px;
    	background-repeat: no-repeat;
    	background-position: -5px -37px;
    	position: relative;
    	cursor: pointer;
	}
	.m-menu:after{
		content: "МЕНЮ";
    	position: absolute;
    	top: 2px;
    	right: -58px;
   	 	font-size: 18px;
   	 	cursor: pointer;
	}
	.nav-list{
		display: none;		
	}
	.nav-list-item{
		padding: 13px 0;		
	}
	.nav-list-item-link:before{
		width: 100%;
		height: 3px;
	}	
	.nav-list-item-link{
		font-size: 14px;
	}	
	.nav-list-item-link.submenu-icon:after{		
		width: 14px;
	    height: 7px;
	    top: 6px;
	    right: -16px;
	    background-size: 349px;
	    background-position: -27px -5px;
	}
	.nav-list-item-submenu{			
		border-radius: 0px 0px 20px 20px;
		margin-top: 7px;
		z-index: 8;
	}
	.nav-list-item.submenu:hover > .nav-list-item-submenu{		
		max-height: 300px;
		padding: 0px;
		position: static;
	}	
	.nav-list-item-submenu-list-item-link{
		padding: 8px 20px 8px 12px;
		font-size: 13px;
	}	

	.offer-content{
		padding: 51px 0 127px;
		z-index: 3;
	}
	.offer-h{		
		line-height: 37px;
    	font-size: 39px;	
		margin-bottom: 20px;
	}
	.offer-select{		   
	    border-radius: 30px;	   
	    line-height: 24px;
	    padding: 9px 76px 9px 10px;	    
	    margin-bottom: 18px;
	}
	.offer-waves{		    
	    bottom: -1px;
	    width: 100%;
	    height: 380px;	    
	    z-index: 2;
	}
	#best{
		padding: 18px 0;
	}
	.best-content{
		padding-top: 8px;
	}	
	.best-form-search-select,
	.best-form-search-input{		   
	    border-radius: 30px;	    
	    line-height: 24px;
	    padding: 14px 16px;	    
	    width: 48.9%;
    	margin-bottom: 14px; 
	}	
	.best-form-search-submit{		
		border-radius: 30px;		
		padding: 16px 33px;	
		width: 100%;
		box-sizing: border-box;	
	}
	.best-content-wrap{
		margin-top: 60px;
		margin-bottom: 30px;
	}

	.best-content-alternative-item{		
		border-radius: 30px;
		padding: 16px 16px 38px 16px;		
		width: 100%;		
		margin-bottom: 20px;
		margin-right: 0px;
	}
	.best-content-alternative-item-avatar{		
		margin-bottom: 20px;
	}
	.best-content-alternative-item-avatar-img{		
		border-radius: 30px;
	}
	.best-content-alternative-item-avata-pro{		
		padding: 7px 15px;
		border-radius: 30px;		
		top: 10px;
	    left: 10px;
	}
	.best-content-alternative-item-avata-like{		
		border-radius: 30px;
		padding: 11px 11px;
		top: 10px;
		right: 10px;		
	}
	.best-content-alternative-item-avata-like-span{		
		width: 18px;
		height: 18px;		
		background-size: 300px;		
		background-position: -134px -240px;
	}
	.best-content-alternative-item-avata-like-span.active{
		background-position: -156px -240px;
	}
	.best-content-alternative-item-name{
		font-size: 27px;
    	line-height: 25px;			
		margin-bottom: 12px;
	}
	.best-content-alternative-item-text{
		font-size: 13px;
		margin-bottom: 19px;
	}
	.best-content-alternative-item-phone{
		font-size: 18px;		
		margin-bottom: 13px;
	}
	.best-content-alternative-item-phone:before{		
	    width: 17px;
	    height: 17px;
	    top: 1px;
	    left: -19px;	    
	    background-size: 272px;
	    background-position: -80px -153px;
	}
	.best-content-alternative-item-socials{		
	    margin-bottom: 20px;
	}
	.best-content-alternative-item-socials-icon{		
	    width: 43px;
	    height: 43px;	    
	    border-radius: 50%;		    
	    margin-right: 7px;
	}	
	.best-content-alternative-item-socials-icon.inst:before{		
	    width: 17px;	    
	    height: 17px;
	    top: calc(50% - 17px / 2);
	    left: calc(50% - 17px / 2);
	    background-size: 326px;
	    background-position: -42px -187px;	    
	}
	.best-content-alternative-item-socials-icon.vk:before{		
	    width: 23px;
	    height: 13px;
	    top: calc(50% - 13px / 2);
	    left: calc(50% - 23px / 2);
	    background-size: 326px;
	    background-position: -67px -188px;	    
	}
	.best-content-alternative-item-price-span{
		font-size: 18px;		
	}
	.best-content-alternative-item-price-span.old{		
		margin: 0 10px;
	}
		

	.pagination-arrow{
		width: 40px;
		height: 40px;	
	}	
	.pagination-arrow.left{
		margin-right: 10px;
	}
	.pagination-arrow.right{
		margin-left: 10px;
	}	
	.pagination-link{		
		font-size: 18px;
		line-height: 21px;		
		margin: 0px 10px;		
	}
	.pagination-link:before{		
		width: 100%;		
		height: 3px;		
	}	
	.pagination-link.active:before{		
		width: 100%;		
		height: 3px;		
	}
	.pagination-points{		
		font-size: 18px;
		line-height: 21px;		
		margin: 0px 10px;
	}

	#blocks{		
		padding-bottom: 40px;
		padding-top: 40px;
	}	
	.blocks-item{	
		border-radius: 30px;
		padding: 10px;		
		margin-bottom: 20px;
	}	
	.blocks-item.big{
		width: 100%;
	}
	.blocks-item-wrap{
		border-radius: 30px;	
		padding: 42px 35px 42px 35px;		
	}	
	.blocks-item-head{		
		font-size: 32px;
		line-height: 32px;		
		margin-top: 9px;
		margin-bottom: 23px;
	}	
	.blocks-item.second .blocks-item-p{		
		font-size: 16px;
		line-height: 27px;		
		margin-bottom: 30px;
	}
	.blocks-item-p-span{
		font-size: 18px;
		line-height: 27px;		
	}
	.blocks-item-link-wrap{		
		margin-top: 16px;
	}
	.blocks-item.second .blocks-item-link{		
		padding: 10px 33px;	
		border-radius: 30px;		
		box-shadow: 6px 5px 20px rgba(116, 123, 106, 0.25);
	}
	
	.socials-container{
		padding: 31px 0;
		border-top: 2px solid #e6e6e6;
		border-bottom: 2px solid #e6e6e6;
	}
	.socials-link{		
		border-radius: 50%;
		padding: 15px;
		margin-right: 8px;
	}
	.socials-link-icon{
		width: 33px;
		height: 33px;
		background-size: 307px;
	}
	.socials-link-icon.fb{
		background-position: 6px 0px;
	}
	.socials-link-icon.ig{
		background-position: -38px -1px;
	}
	.socials-link-icon.p{
		background-position: -68px 0px;
	}
	.socials-link-icon.vk{
		background-position: -105px 4px;
	}
	footer{
		padding: 59px 0;
	}
	.footer-left{
		width: 100%;
	}
	.footer-left-logo-link-text{
		margin-bottom: 3px;
	}
	.footer-left-info{
		font-size: 15px;
		line-height: 24px;
		margin-top: 62px;
	}
	.footer-right{
		width: 100%;
		margin-top: 20px;
	}
	.footer-right-item{
		width: 47%;
	}
	.footer-right-item-head{
		font-size: 20px;
		line-height: 25px;
		margin-bottom: 10px;
	}
	.footer-right-item-link{
		margin-bottom: 5px;
		font-size: 15px;
		line-height: 24px;
	}
}

@media (max-width: 510px){
	*{
		font-size: 12px;
	}
	
	.head-left{
		text-align: center;
		margin-bottom: 40px;
	}
	.head-left:before{		
	    content: "";
	    position: absolute;
	    width: 82px;
	    height: 19px;
	    bottom: -26px;
	    left: calc(46.5% - 82px / 2);    
	    background-size: 327px;
	    background-repeat: no-repeat;
	    background-position: -177px -30px;
	}
	.head-left:after{
		content: "";
	    position: absolute;
	    width: 82px;
	    height: 19px;
	    bottom: -26px;
	    right: calc(46.5% - 82px / 2);    
	    background-size: 327px;
	    background-repeat: no-repeat;
	    background-position: -182px -3px;
	}
	.head-left-h{		
		font-size: 30px;
    	line-height: 34px;
	}
	.head-left-h.min-font{
		font-size: 30px;
		line-height: 33px;
	}
	.head-center{
		margin-bottom: 40px;
	}
	.head-center-h{
		font-size: 30px;
    	line-height: 34px;
	}
	.head-center:before{		
	    width: 82px;
	    height: 19px;
	    bottom: -26px;
	    left: calc(46.5% - 82px / 2);
	    background-size: 327px;
	    background-position: -177px -30px;
	}
	.head-center:after{		
	    width: 82px;
	    height: 19px;
	    bottom: -26px;
	    right: calc(46.5% - 82px / 2);
	    background-size: 327px;
	    background-position: -182px -3px;
	}
	.container{
		width: 98%;
	}
	header{
		padding: 19px 0;
	}	
	.header-logo{
		width: 100%;
		margin-bottom: 10px;
	}
	.header-auth{
		width: 100%;
    	justify-content: center;
	}
	.header-logo-link-text{
		margin-bottom: 4px;
		letter-spacing: 1px;
	}
	.header-logo-link-img{
		width: 56%;
    	margin: 0 auto;
    	display: block;
	}	
	.header-logo-link-city{
		margin-top: 4px;
		letter-spacing: 1px;
	}
	.header-logo-link-city-icon{
		width: 14px;
	    height: 7px;
	    top: 5px;
	    background-size: 349px;
	    background-position: -27px -5px;
	}	
	.header-auth-link{
		border-radius: 30px;
    	padding: 8px 28px;
    	font-size: 14px;
	}
	.header-content{
		flex-wrap: wrap;
	}
	.header-auth-link.input{
		margin-right: 10px;
	}
	.m-menu{
		width: 25px;
		height: 25px;
		margin: 7px 0;		
		background-size: 354px;
    	background-repeat: no-repeat;
    	background-position: -5px -37px;
    	position: relative;
    	cursor: pointer;
	}
	.m-menu:after{
		content: "МЕНЮ";
    	position: absolute;
    	top: 2px;
    	right: -58px;
   	 	font-size: 18px;
   	 	cursor: pointer;
	}
	.nav-list{
		display: none;	
		margin-left: 30px;	
		padding-bottom: 15px;
	}
	.nav-list-item{
		padding: 13px 0;		
	}
	.nav-list-item-link:before{
		width: 100%;
		height: 3px;
	}	
	.nav-list-item-link{
		font-size: 14px;
	}	
	.nav-list-item-link.submenu-icon:after{		
		width: 14px;
	    height: 7px;
	    top: 6px;
	    right: -16px;
	    background-size: 349px;
	    background-position: -27px -5px;
	}
	.nav-list-item-submenu{			
		border-radius: 0px 0px 20px 20px;
		margin-top: 7px;
		z-index: 8;
	}
	.nav-list-item.submenu:hover > .nav-list-item-submenu{		
		max-height: 300px;
		padding: 0px;
		position: static;
	}	
	.nav-list-item-submenu-list-item-link{
		padding: 8px 20px 8px 12px;
		font-size: 13px;
	}

	.offer-content{
		padding: 51px 0 127px;
		z-index: 3;
	}
	.offer-h{		
		line-height: 37px;
    	font-size: 30px;
		margin-bottom: 20px;
	}
	.offer-select{		   
	    border-radius: 30px;	   
	    line-height: 24px;
	    padding: 9px 76px 9px 10px;	    
	    margin-bottom: 18px;
	}
	.offer-waves{		    
	    bottom: -1px;
	    width: 100%;
	    height: 380px;	    
	    z-index: 2;
	}
	#best{
		padding: 18px 0;
	}
	.best-content{
		padding-top: 8px;
	}	
	.best-form-search-select,
	.best-form-search-input{		   
	    border-radius: 30px;	    
	    line-height: 24px;
	    padding: 14px 16px;	    
	    width: 100%;
    	margin-bottom: 14px; 
	}	
	.best-form-search-submit{		
		border-radius: 30px;		
		padding: 16px 33px;	
		width: 100%;
		box-sizing: border-box;	
	}
	.best-content-wrap{
		margin-top: 60px;
		margin-bottom: 30px;
	}
	

	.pagination-arrow{
		width: 40px;
		height: 40px;	
	}	
	.pagination-arrow.left{
		margin-right: 10px;
	}
	.pagination-arrow.right{
		margin-left: 10px;
	}	
	.pagination-link{		
		font-size: 18px;
		line-height: 21px;		
		margin: 0px 10px;		
	}
	.pagination-link:before{		
		width: 100%;		
		height: 3px;		
	}	
	.pagination-link.active:before{		
		width: 100%;		
		height: 3px;		
	}
	.pagination-points{		
		font-size: 18px;
		line-height: 21px;		
		margin: 0px 10px;
	}

	.best-content-alternative-item{		
		border-radius: 30px;
		padding: 16px 16px 38px 16px;		
		width: 100%;		
		margin-bottom: 20px;
		margin-right: 0px;
	}
	.best-content-alternative-item-avatar{		
		margin-bottom: 20px;
	}
	.best-content-alternative-item-avatar-img{		
		border-radius: 30px;
	}
	.best-content-alternative-item-avata-pro{		
		padding: 7px 15px;
		border-radius: 30px;		
		top: 10px;
	    left: 10px;
	}
	.best-content-alternative-item-avata-like{		
		border-radius: 30px;
		padding: 11px 11px;
		top: 10px;
		right: 10px;		
	}
	.best-content-alternative-item-avata-like-span{		
		width: 18px;
		height: 18px;		
		background-size: 300px;		
		background-position: -134px -240px;
	}
	.best-content-alternative-item-avata-like-span.active{
		background-position: -156px -240px;
	}
	.best-content-alternative-item-name{
		font-size: 27px;
    	line-height: 25px;			
		margin-bottom: 12px;
	}
	.best-content-alternative-item-text{
		font-size: 13px;
		margin-bottom: 19px;
	}
	.best-content-alternative-item-phone{
		font-size: 18px;		
		margin-bottom: 13px;
	}
	.best-content-alternative-item-phone:before{		
	    width: 17px;
	    height: 17px;
	    top: 1px;
	    left: -19px;	    
	    background-size: 272px;
	    background-position: -80px -153px;
	}
	.best-content-alternative-item-socials{		
	    margin-bottom: 20px;
	}
	.best-content-alternative-item-socials-icon{		
	    width: 43px;
	    height: 43px;	    
	    border-radius: 50%;		    
	    margin-right: 7px;
	}	
	.best-content-alternative-item-socials-icon.inst:before{		
	    width: 17px;	    
	    height: 17px;
	    top: calc(50% - 17px / 2);
	    left: calc(50% - 17px / 2);
	    background-size: 326px;
	    background-position: -42px -187px;	    
	}
	.best-content-alternative-item-socials-icon.vk:before{		
	    width: 23px;
	    height: 13px;
	    top: calc(50% - 13px / 2);
	    left: calc(50% - 23px / 2);
	    background-size: 326px;
	    background-position: -67px -188px;	    
	}
	.best-content-alternative-item-price-span{
		font-size: 15px;		
	}
	.best-content-alternative-item-price-span.old{		
		margin: 0 10px;
	}

	#blocks{		
		padding-bottom: 40px;
		padding-top: 40px;
	}	
	.blocks-item{	
		border-radius: 30px;
		padding: 10px;		
		margin-bottom: 20px;
	}	
	.blocks-item.big{
		width: 100%;
	}
	.blocks-item-wrap{
		border-radius: 30px;	
		padding: 18px 17px 42px 17px;
	}	
	.blocks-item-head{		
		font-size: 27px;
    	line-height: 31px;	
		margin-top: 9px;
		margin-bottom: 23px;
	}	
	.blocks-item.second .blocks-item-p{		
		font-size: 14px;
    	line-height: 25px;		
		margin-bottom: 30px;
	}
	.blocks-item-p-span{
		font-size: 18px;
		line-height: 27px;		
	}
	.blocks-item-link-wrap{		
		margin-top: 16px;
	}
	.blocks-item.second .blocks-item-link{		
		padding: 10px 33px;	
		border-radius: 30px;		
		box-shadow: 6px 5px 20px rgba(116, 123, 106, 0.25);
	}
	
	.socials-container{
		padding: 31px 0;
		border-top: 2px solid #e6e6e6;
		border-bottom: 2px solid #e6e6e6;
	}
	.socials-link{		
		border-radius: 50%;
		padding: 15px;
		margin-right: 8px;
	}
	.socials-link-icon{
		width: 33px;
		height: 33px;
		background-size: 307px;
	}
	.socials-link-icon.fb{
		background-position: 6px 0px;
	}
	.socials-link-icon.ig{
		background-position: -38px -1px;
	}
	.socials-link-icon.p{
		background-position: -68px 0px;
	}
	.socials-link-icon.vk{
		background-position: -105px 4px;
	}
	footer{
		padding: 59px 0;
	}
	.footer-left{
		width: 100%;
	}
	.footer-left-logo-link-text{
		margin-bottom: 3px;
	}
	.footer-left-info{
		font-size: 15px;
		line-height: 24px;
		margin-top: 62px;
	}
	.footer-right{
		width: 100%;
		margin-top: 20px;
	}
	.footer-right-item{
		width: 47%;
	}
	.footer-right-item-head{
		font-size: 20px;
		line-height: 25px;
		margin-bottom: 10px;
	}
	.footer-right-item-link{
		margin-bottom: 5px;
		font-size: 15px;
		line-height: 24px;
	}
}


